Repository PecanProject/pecan, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Dockerfile, Website, Base, Models, Modules, GitHub Actions, Scripts

.github/labeler.yml:

#
# Add project labels to PRs
# Invocation is done by .github/workflows/prlabeler.yml

# changes in the documentation
'Documentation':
- changed-files:
  - any-glob-to-any-file: 'book_source/**'
  - any-glob-to-any-file: 'documentation/**'
  - any-glob-to-any-file: 'CONTRIBUTING.md'
  - any-glob-to-any-file: 'DEBUGING.md'
  - any-glob-to-any-file: 'DEV-INTRO.md'
  - any-glob-to-any-file: 'README.md'

# Add 'Dockerfile' label to any changes in the docker directory
'Dockerfile':
- changed-files:
  - any-glob-to-any-file: 'docker/**'


# Add 'Website' label to any changes in the web directory
'Website':
- changed-files:
  - any-glob-to-any-file: 'web/**'

# Add 'Base' label to any changes in the base directory
'Base':
- changed-files:
  - any-glob-to-any-file: 'base/**'

# Add 'Models' label to any changes in the models directory
'Models':
- changed-files:
  - any-glob-to-any-file: 'models/**'

# Add 'Modules' label to any changes in the modules directory
'Modules':
- changed-files:
  - any-glob-to-any-file: 'modules/**'

# Add 'GitHub Actions' label to any changes in the .github/workflows directory
'GitHub Actions':
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

# Add 'Scripts' label to any changes in the scripts directory

'Scripts':
- changed-files:
  - any-glob-to-any-file: 'scripts/**'

# Add 'Tests' label to any changes in the tests directory
'Tests':
- all:
  - changed-files:
    - any-glob-to-any-file: ['tests/**', '**/tests/**']
    - any-glob-to-any-file: '!**/tests/Rcheck_reference.log'

add 1.8.0 package versions to history (and pick a release date)
  CHANGELOG.md
  base/all/data/pecan_releases.csv
  base/all/data/pecan_version_history.csv
Labels: Base

update test that used removed date field
  base/settings/R/check.all.settings.R
  base/settings/R/known_bety_migrations.R
Labels: Base

Update test files
  modules/data.atmosphere/tests/testthat/test.met.process.R
Labels: Modules

Refactor get.new.site function to generate site IDs and handle missing values when con is not provided
  base/db/R/get.new.site.R
Labels: Base

Update site utilizations
  base/workflow/R/do_conversions.R
Labels: Base

Update documentations
  base/db/R/get.new.site.R
  base/db/man/get.new.site.Rd
Labels: Base

Refactor Errors in check
  base/db/R/get.new.site.R
Labels: Base

Update conn pass
  base/db/R/get.new.site.R
  base/db/man/get.new.site.Rd
  modules/data.atmosphere/R/met.process.R
  modules/data.land/R/ic_process.R
  modules/data.land/R/soil_process.R
Labels: Base, Modules

Update documentation.
  modules/assim.sequential/R/GEF_Helper.R
  modules/assim.sequential/R/Multi_Site_Constructors.R
  modules/assim.sequential/man/tobit_model_censored.Rd
Labels: Modules
