Repository PecanProject/pecan, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Dockerfile, Website, Base, Models, Modules, GitHub Actions, Scripts

v1 hourly downscale
  modules/assim.sequential/R/downscale_function_hrly.R
Labels: Modules

Accept site.data as function input
  base/workflow/R/do_conversions.R
Labels: Base

Pass site.data via args
  web/workflow.R
Labels: Website

Read Command Line arguments
  base/settings/R/get_args.R
Labels: Base

Update str_ns declaration
  base/settings/R/get_args.R
  base/workflow/R/do_conversions.R
  modules/data.atmosphere/R/met.process.R
  web/workflow.R
Labels: Website, Base, Modules

Update site$lon
  modules/data.atmosphere/R/met.process.R
Labels: Modules

Update if-else block for site.id
  modules/data.atmosphere/R/met.process.R
Labels: Modules

Update DEV-INTRO.md
  DEV-INTRO.md
Labels: Documentation

version bumps and link updates
  DEV-INTRO.md
Labels: Documentation

docker-compose -> docker compose
  DEV-INTRO.md
Labels: Documentation

lib -> R_library (I kept forgetting what was stored in this volume)
  DEV-INTRO.md
  docker-compose.dev.yml
Labels: Documentation

assume WSL2
  DEV-INTRO.md
Labels: Documentation

more hyphens
  DEV-INTRO.md
Labels: Documentation

Add helper function to get new.site
  base/utils/R/get.new.site.R
  base/workflow/R/do_conversions.R
  modules/data.atmosphere/R/met.process.R
  modules/data.land/R/ic_process.R
  modules/data.land/R/soil_process.R
Labels: Base, Modules

Roxygenise the documentations
  base/utils/NAMESPACE
  base/utils/R/get.new.site.R
  base/utils/man/get.site.info.Rd
  modules/data.land/man/ic_process.Rd
Labels: Base, Modules

Update Function Name
  base/utils/NAMESPACE
  base/utils/R/get.new.site.R
  base/utils/man/get.new.site.Rd
  modules/data.atmosphere/R/met.process.R
  modules/data.land/R/ic_process.R
  modules/data.land/R/soil_process.R
Labels: Base, Modules

Export dependency to DB rather than utils
  base/db/NAMESPACE
  base/db/R/get.new.site.R
  base/db/man/get.new.site.Rd
  base/utils/NAMESPACE
  modules/data.atmosphere/R/met.process.R
  modules/data.land/R/ic_process.R
  modules/data.land/R/soil_process.R
Labels: Base, Modules

Update test case
  modules/data.atmosphere/tests/testthat/test.met.process.R
Labels: Modules

Update 'exampes'
  base/db/R/get.new.site.R
  base/db/man/get.new.site.Rd
Labels: Base

Rob was right, CSV is better
  base/all/data-raw/record_versions.R
  base/all/data/pecan_releases.R
  base/all/data/pecan_releases.csv
  base/all/data/pecan_releases.rda
  base/all/data/pecan_version_history.R
  base/all/data/pecan_version_history.csv
  base/all/data/pecan_version_history.rda
Labels: Base

need to turn off strict for NAs in older R
  base/all/data/pecan_version_history.R
Labels: Base

Return null when site$id is not present
  base/db/R/get.new.site.R
Labels: Base

Remove NULL calling
  base/db/R/get.new.site.R
Labels: Base

added tests : runModule.run.meta.analysis, run.meta.analysis
  modules/meta.analysis/tests/testthat/test.run.meta.analysis.R
Labels: Modules

Fixing 'no global binding err'
  base/db/R/get.new.site.R
Labels: Base

added mockery to desc
  modules/meta.analysis/DESCRIPTION
Labels: Modules

bug fix
  docker/depends/pecan_package_dependencies.csv
Labels: Dockerfile

added final tests, fixed some typos
  book_source/03_topical_pages/94_docker/04_models.Rmd
  modules/meta.analysis/R/meta.analysis.R
  modules/meta.analysis/R/run.meta.analysis.R
  modules/meta.analysis/man/pecan.ma.Rd
  modules/meta.analysis/man/run.meta.analysis.Rd
  modules/meta.analysis/tests/testthat/test.meta.analysis.R
  modules/meta.analysis/tests/testthat/test.run.meta.analysis.R
  modules/meta.analysis/tests/testthat/test.single.MA.R
Labels: Documentation, Modules

update global variable handling
  base/db/R/get.new.site.R
Labels: Base

Remove global binding changes
  base/db/R/get.new.site.R
Labels: Base

Update global variables
  base/db/R/get.new.site.R
  modules/data.atmosphere/R/met.process.R
Labels: Base, Modules

Ipdate all instances of latlon
  modules/data.land/R/ic_process.R
  modules/data.land/R/soil_process.R
Labels: Modules

Roxygenise documents
  base/db/R/get.new.site.R
  base/db/man/get.new.site.Rd
  modules/data.atmosphere/R/met.process.R
  modules/data.land/R/ic_process.R
  modules/data.land/R/soil_process.R
Labels: Base, Modules

Usage Updates added
  base/db/R/get.new.site.R
  base/db/man/get.new.site.Rd
Labels: Base

Doc Updates added
  base/db/R/get.new.site.R
  base/db/man/get.new.site.Rd
Labels: Base

add time to video link
  DEV-INTRO.md
Labels: Documentation

bug fixes
  docker-compose.yml
  web/04-runpecan.php
  web/common.php
Labels: Website

add docker-compose for prod use
  docker-compose.prod.yml
Labels: none

version bumps in other files
  CHANGELOG.md
  CITATION.cff
Labels: none

NEWS
  base/all/NEWS.md
  base/db/NEWS.md
  base/logger/NEWS.md
  base/remote/NEWS.md
  base/utils/NEWS.md
  base/workflow/NEWS.md
  models/ed/NEWS.md
  modules/assim.batch/NEWS.md
  modules/data.atmosphere/NEWS.md
  modules/data.land/NEWS.md
  modules/data.remote/NEWS.md
  modules/emulator/NEWS.md
  modules/photosynthesis/NEWS.md
  modules/uncertainty/NEWS.md
Labels: Base, Models, Modules

.github/labeler.yml:

#
# Add project labels to PRs
# Invocation is done by .github/workflows/prlabeler.yml

# changes in the documentation
'Documentation':
- changed-files:
  - any-glob-to-any-file: 'book_source/**'
  - any-glob-to-any-file: 'documentation/**'
  - any-glob-to-any-file: 'CONTRIBUTING.md'
  - any-glob-to-any-file: 'DEBUGING.md'
  - any-glob-to-any-file: 'DEV-INTRO.md'
  - any-glob-to-any-file: 'README.md'

# Add 'Dockerfile' label to any changes in the docker directory
'Dockerfile':
- changed-files:
  - any-glob-to-any-file: 'docker/**'


# Add 'Website' label to any changes in the web directory
'Website':
- changed-files:
  - any-glob-to-any-file: 'web/**'

# Add 'Base' label to any changes in the base directory
'Base':
- changed-files:
  - any-glob-to-any-file: 'base/**'

# Add 'Models' label to any changes in the models directory
'Models':
- changed-files:
  - any-glob-to-any-file: 'models/**'

# Add 'Modules' label to any changes in the modules directory
'Modules':
- changed-files:
  - any-glob-to-any-file: 'modules/**'

# Add 'GitHub Actions' label to any changes in the .github/workflows directory
'GitHub Actions':
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

# Add 'Scripts' label to any changes in the scripts directory

'Scripts':
- changed-files:
  - any-glob-to-any-file: 'scripts/**'

# Add 'Tests' label to any changes in the tests directory
'Tests':
- all:
  - changed-files:
    - any-glob-to-any-file: ['tests/**', '**/tests/**']
    - any-glob-to-any-file: '!**/tests/Rcheck_reference.log'
