Repository PecanProject/pecan, pull requests merged in 2018-09, with the labels that each got.

#2083 Small fixes to MAAT wrappers
  models/maat/R/met2model.MAAT.R
  models/maat/R/model2netcdf.MAAT.R
Labels: Priority: 02 - Normal, Type: Bug

#2093 Fix JULES model2netcdf library calls
  CHANGELOG.md
  models/jules/DESCRIPTION
  models/jules/R/model2netcdf.JULES.R
Labels: Priority: 02 - Normal, Status: Review required, Type: Bug

#2096 Add check for file size and exit if empty or NA in convert.input
  base/utils/DESCRIPTION
  base/utils/R/convert.input.R
Labels: Priority: 03 - High, Status: Review required, Type: Bug

#2098 ED2 time fix
  CHANGELOG.md
  models/ed/R/model2netcdf.ED2.R
Labels: Priority: 02 - Normal, Status: Ready

#2045 Refactored SDA
  CHANGELOG.md
  models/linkages/R/read_restart.LINKAGES.R
  models/linkages/R/write.config.LINKAGES.R
  models/linkages/R/write_restart.LINKAGES.R
  models/linkages/inst/SPP.DAT
  models/linkages/inst/spp_matrix.csv
  models/sipnet/R/read_restart.SIPNET.R
  models/sipnet/R/split_inputs.SIPNET.R
  models/sipnet/R/write.configs.SIPNET.R
  models/sipnet/R/write_restart.SIPNET.R
  modules/assim.sequential/NAMESPACE
  modules/assim.sequential/R/Adjustment.R
  modules/assim.sequential/R/Analysis_sda.R
  modules/assim.sequential/R/Nimble_codes.R
  modules/assim.sequential/R/load_data_paleon_sda.R
  modules/assim.sequential/R/sda.enkf.R
  modules/assim.sequential/R/sda.enkf_refactored.R
  modules/assim.sequential/R/sda_plotting.R
  modules/assim.sequential/inst/NEFI/run.gefs.sipnet.EXAMPLE.sh
  modules/assim.sequential/man/Analysis.sda.Rd
  modules/assim.sequential/man/Construc_H.Rd
  modules/assim.sequential/man/EnKF.Rd
  modules/assim.sequential/man/GEF.Rd
  modules/assim.sequential/man/adj.ens.Rd
  modules/assim.sequential/man/generate_colors_sda.Rd
  modules/assim.sequential/man/interactive.plotting.sda.Rd
  modules/assim.sequential/man/load_nimble.Rd
  modules/assim.sequential/man/sda.enkf.Rd
Labels: Status: Review required

#2106 Packages for SHINY that were missed and Ankur's fix that needs to be in release.
  base/db/R/query.format.vars.R
  shiny/Data-Ingest/app.R
  shiny/ViewMet/server.R
Labels: Priority: 03 - High, Status: Review required, Type: Bug

#2108 Missing index in convert.inputs
  base/utils/R/convert.input.R
Labels: Priority: 03 - High, Status: Review required, Type: Bug

#2095 SIPNET time fix
  CHANGELOG.md
  models/sipnet/R/model2netcdf.SIPNET.R
Labels: Priority: 02 - Normal, Status: Ready, Type: Bug, Type: Enhancement
