Repository PecanProject/pecan, pull requests merged in 2018-04, with the labels that each got.

#1898 Cleanup of some intenal links in Documentation
  book_source/01_introduction/03_how_to_use_book.Rmd
  book_source/02_basic_users_guide/01_getting_started.Rmd
  book_source/02_basic_users_guide/02_web_workflow/00_web_workflow.Rmd
  book_source/02_basic_users_guide/02_web_workflow/01_site_model.Rmd
  book_source/02_basic_users_guide/02_web_workflow/02_model_configuration.Rmd
  book_source/02_basic_users_guide/02_web_workflow/02_model_configuration/00_model_configuration.Rmd
  book_source/02_basic_users_guide/02_web_workflow/02_model_configuration/05_other_inputs.Rmd
  book_source/02_basic_users_guide/02_web_workflow/03_choosing_pfts.Rmd
  book_source/02_basic_users_guide/02_web_workflow/04_initial_conditions.Rmd
  book_source/02_basic_users_guide/02_web_workflow/05_choosing_soils.Rmd
  book_source/02_basic_users_guide/02_web_workflow/06_other_inputs.Rmd
  book_source/04_advanced_user_guide/01_R_workflow/Workflow-modules.Rmd
  book_source/04_advanced_user_guide/01_R_workflow/curl-web-submit.Rmd
  book_source/04_advanced_user_guide/02_adding_to_pecan/01_case_studies/01_adding_a_model.Rmd
  book_source/06_reference/01_pecan_standards.Rmd
  book_source/06_reference/02_models/variables.Rmd
  book_source/06_reference/03_data/GFDL.Rmd
  book_source/06_reference/03_data/meteorology.Rmd
  book_source/06_reference/04_docker/architecture.Rmd
  book_source/06_reference/04_docker/introduction.Rmd
  book_source/06_reference/04_docker/models.Rmd
  book_source/06_reference/04_docker/pecan-docker.png
  book_source/06_reference/04_user_appendix.Rmd
  book_source/06_reference/05_debugging.Rmd
  book_source/06_reference/06_troubleshooting-pecan.Rmd
  book_source/06_reference/07_courses_taught.Rmd
  book_source/06_reference/99_DART_state_data_assimilation.Rmd
  book_source/08_appendix/appendix.Rmd
  book_source/08_appendix/faq.Rmd
  book_source/misc/_footer.Rmd
  documentation/tutorials/01_Demo_Basic_Run/Demo01.Rmd
Labels: Priority: 03 - High, Status: Review required, Type: Documentation

#1903 Cultivar-PFT support for priordupe
  base/db/R/clone_pft.R
  base/db/R/priordupe.R
  base/db/man/clone_pft.Rd
  base/db/man/priordupe.Rd
Labels: Priority: 02 - Normal, Status: Ready, Topic: BETYdb, Type: Bug

#1901 Merge Release/v1.5.3 into develop
  CHANGELOG.md
  base/utils/DESCRIPTION
  base/utils/R/read.output.R
  base/utils/man/read.output.Rd
  base/utils/tests/testthat/helper.R
  base/utils/tests/testthat/test-read.output.R
  base/visualization/R/plot.netcdf.R
  book_source/01_introduction/03_how_to_use_book.Rmd
  book_source/02_basic_users_guide/01_getting_started.Rmd
  book_source/02_basic_users_guide/02_web_workflow/00_web_workflow.Rmd
  book_source/02_basic_users_guide/02_web_workflow/01_site_model.Rmd
  book_source/02_basic_users_guide/02_web_workflow/02_model_configuration.Rmd
  book_source/02_basic_users_guide/02_web_workflow/02_model_configuration/00_model_configuration.Rmd
  book_source/02_basic_users_guide/02_web_workflow/02_model_configuration/05_other_inputs.Rmd
  book_source/02_basic_users_guide/02_web_workflow/03_choosing_pfts.Rmd
  book_source/02_basic_users_guide/02_web_workflow/04_initial_conditions.Rmd
  book_source/02_basic_users_guide/02_web_workflow/05_choosing_soils.Rmd
  book_source/02_basic_users_guide/02_web_workflow/06_other_inputs.Rmd
  book_source/04_advanced_user_guide/01_R_workflow/Workflow-modules.Rmd
  book_source/04_advanced_user_guide/01_R_workflow/curl-web-submit.Rmd
  book_source/04_advanced_user_guide/02_adding_to_pecan/01_case_studies/01_adding_a_model.Rmd
  book_source/05_developer_guide/01_setup/01_install_PEcAn/04_install_models/install_LPJGUESS.Rmd
  book_source/06_reference/01_pecan_standards.Rmd
  book_source/06_reference/02_models/variables.Rmd
  book_source/06_reference/03_data/GFDL.Rmd
  book_source/06_reference/03_data/meteorology.Rmd
  book_source/06_reference/04_docker/architecture.Rmd
  book_source/06_reference/04_docker/introduction.Rmd
  book_source/06_reference/04_docker/models.Rmd
  book_source/06_reference/04_docker/pecan-docker.png
  book_source/06_reference/04_user_appendix.Rmd
  book_source/06_reference/05_debugging.Rmd
  book_source/06_reference/06_troubleshooting-pecan.Rmd
  book_source/06_reference/07_courses_taught.Rmd
  book_source/06_reference/99_DART_state_data_assimilation.Rmd
  book_source/08_appendix/appendix.Rmd
  book_source/08_appendix/faq.Rmd
  book_source/misc/_footer.Rmd
  documentation/tutorials/01_Demo_Basic_Run/Demo01.Rmd
  models/ed/R/model2netcdf.ED2.R
  models/ed/inst/ED2IN.rgit_istfer
  modules/data.atmosphere/R/metgapfill.R
  scripts/install_pecan.sh
  shiny/BrownDog/server.R
  web/hostmodelinfo.php
  web/setups/core.php
Labels: Priority: 03 - High, Status: Review required

#1914 Fix for Issue #1911
  modules/data.atmosphere/R/download.GFDL.R
Labels: Priority: 03 - High, Status: in progress, Type: Bug

#1912 coerce trait matrix to dataframe
  models/biocro/R/write.configs.BIOCRO.R
  models/biocro/man/convert.samples.BIOCRO.Rd
  models/biocro/tests/testthat/test.write.configs.BIOCRO.R
Labels: Status: Review required

#1908 Geostreams update
  CHANGELOG.md
  modules/data.atmosphere/R/download.Geostreams.R
  modules/data.atmosphere/R/met2CF.Geostreams.R
Labels: Priority: 02 - Normal, Status: Review required, Topic: Input - Meteorology, Type: Bug
