Repository PecanProject/pecan, pull requests merged in 2018-07, with the labels that each got.

#1993 Data Ingest Shiny App: Input, dbfiles, and Format Records Basic UI (and loadtime fix)
  CHANGELOG.md
  modules/data.atmosphere/R/download.NARR_site.R
  modules/data.atmosphere/man/download.NARR_site.Rd
  shiny/Data-Ingest/Data_Ingest_Functions.R
  shiny/Data-Ingest/app.R
  shiny/Data-Ingest/server_files/d1_download_svr.R
  shiny/Data-Ingest/server_files/input_record_svr.R
  shiny/Data-Ingest/server_files/local_upload_svr.R
  shiny/Data-Ingest/ui_files/d1_download_ui.R
  shiny/Data-Ingest/ui_files/input_record_ui.R
  shiny/Data-Ingest/ui_files/local_file_upload_ui.R
  shiny/Data-Ingest/ui_files/sidebar_ui.R
  shiny/Data-Ingest/ui_utils.R
Labels: Priority: 02 - Normal, Status: Ready, Topic: BETYdb, Topic: Web interface

#2000 Shiny Data Ingest App (Work in progress)
  CHANGELOG.md
  shiny/Data-Ingest/app.R
  shiny/Data-Ingest/modules/dbFiles_module.R
  shiny/Data-Ingest/modules/formats_module.R
  shiny/Data-Ingest/modules/inputs_module.R
  shiny/Data-Ingest/server_files/create_input_record_svr.R
  shiny/Data-Ingest/server_files/d1_download_svr.R
  shiny/Data-Ingest/server_files/dbfiles_record_svr.R
  shiny/Data-Ingest/server_files/formats_record_svr.R
  shiny/Data-Ingest/server_files/input_record_svr.R
  shiny/Data-Ingest/server_files/local_upload_svr.R
  shiny/Data-Ingest/ui_files/create_input_record_ui.R
  shiny/Data-Ingest/ui_files/d1_download_ui.R
  shiny/Data-Ingest/ui_files/dbfiles_record_ui.R
  shiny/Data-Ingest/ui_files/formats_record_ui.R
  shiny/Data-Ingest/ui_files/homepage_ui.R
  shiny/Data-Ingest/ui_files/input_record_ui.R
  shiny/Data-Ingest/ui_files/local_file_upload_ui.R
  shiny/Data-Ingest/ui_files/sidebar_ui.R
  shiny/Data-Ingest/ui_utils.R
Labels: Priority: 02 - Normal

#2005 New Data_Ingest app UI features
  CHANGELOG.md
  shiny/Data-Ingest/app.R
  shiny/Data-Ingest/modules/d1_download_module.R
  shiny/Data-Ingest/modules/formats_module.R
  shiny/Data-Ingest/modules/inputs_module.R
  shiny/Data-Ingest/modules/local_upload_module.R
  shiny/Data-Ingest/server_files/d1_download_svr.R
  shiny/Data-Ingest/server_files/ingest_workflow_svr.R
  shiny/Data-Ingest/server_files/local_upload_svr.R
  shiny/Data-Ingest/ui_files/d1_download_ui.R
  shiny/Data-Ingest/ui_files/ingest_workflow_ui.R
  shiny/Data-Ingest/ui_files/local_file_upload_ui.R
  shiny/Data-Ingest/ui_files/sidebar_ui.R
Labels: Priority: 02 - Normal, Status: Ready, Topic: Visualization, Topic: Web interface

#2006 allow to specify port
  CHANGELOG.md
  web/04-runpecan.php
  web/config.example.php
Labels: Priority: 03 - High, Topic: BETYdb

#2007 Data-Ingest New Features and attempt at linking to BETY (Work in Progress)
  CHANGELOG.md
  shiny/Data-Ingest/app.R
  shiny/Data-Ingest/server_files/d1_download_svr.R
  shiny/Data-Ingest/server_files/ingest_workflow_svr.R
  shiny/Data-Ingest/server_files/local_upload_svr.R
  shiny/Data-Ingest/ui_files/d1_download_ui.R
  shiny/Data-Ingest/ui_files/ingest_workflow_ui.R
  shiny/Data-Ingest/ui_files/local_file_upload_ui.R
  shiny/Data-Ingest/ui_files/sidebar_ui.R
Labels: Priority: 01 - Low

#2011 Minor TDM bug fix
  modules/data.atmosphere/R/tdm_lm_ensemble_sims.R
Labels: Type: Bug

#2015 gSSURGO soil data
  CHANGELOG.md
  book_source/04_advanced_user_guide/02_adding_to_pecan/01_case_studies/04_input_conversion.Rmd
  modules/data.land/NAMESPACE
  modules/data.land/R/extract_soil_nc.R
  modules/data.land/R/gSSURGO_Query.R
  modules/data.land/R/soil2netcdf.R
  modules/data.land/R/soil_process.R
  modules/data.land/R/soil_utils.R
  modules/data.land/contrib/FIA/README.txt
  modules/data.land/contrib/FIA/html2text.py
  modules/data.land/contrib/FIA/mirror.sh
  modules/data.land/inst/FIA_allometry/allometry.r
  modules/data.land/inst/FIA_allometry/biomass.r
  modules/data.land/man/extract_soil_gssurgo.Rd
  modules/data.land/man/gSSURGO.Query.Rd
Labels: Priority: 02 - Normal, Soil, Status: Review required
