Repository PecanProject/pecan, pull requests merged in 2018-06, with the labels that each got.

#1953 Updated FATES output time variable to fix issue #1939.
  CHANGELOG.md
  models/fates/R/model2netcdf.FATES.R
Labels: Priority: 02 - Normal, Status: Ready, Type: Bug, Type: Enhancement

#1830 Adding Fcomp to SDA workflow
  book_source/03_intermediate_users_guide/03_hidden_analyses/02_sda.Rmd
  book_source/03_intermediate_users_guide/03_hidden_analyses/03_sda_methods.Rmd
  book_source/03_intermediate_users_guide/03_hidden_analyses/04_multisettings.Rmd
  book_source/03_intermediate_users_guide/03_hidden_analyses/05_benchmarking.Rmd
  models/linkages/R/met2model.LINKAGES.R
  models/linkages/R/read_restart.LINKAGES.R
  models/linkages/R/write.config.LINKAGES.R
  models/linkages/R/write_restart.LINKAGES.R
  modules/assim.sequential/R/assess.params.R
  modules/assim.sequential/R/load_data_paleon_sda.R
  modules/assim.sequential/R/sda.enkf.R
  modules/assim.sequential/inst/ensemble_adj_visualization.R
  modules/assim.sequential/inst/paleon_sda.R
  modules/assim.sequential/inst/sda.rewind.R
  modules/assim.sequential/man/assess.params.Rd
Labels: Status: in progress

#1965 Added progress messages to dataone_download_fn
  CHANGELOG.md
  modules/data.land/R/dataone_download.R
  modules/data.land/man/dataone_download.Rd
Labels: Priority: 02 - Normal

#1963 Emulator paper updates
  base/db/inst/bety_mstmip_lookup.csv
  base/utils/R/ensemble.R
  base/utils/R/get.parameter.samples.R
  base/utils/R/run.write.configs.R
  base/utils/man/get.ensemble.samples.Rd
  base/utils/man/get.parameter.samples.Rd
  base/workflow/R/run.write.configs.R
  modules/assim.batch/NAMESPACE
  modules/assim.batch/R/pda.emulator.R
  modules/assim.batch/R/pda.get.model.output.R
  modules/assim.batch/R/pda.postprocess.R
  modules/assim.batch/R/pda.utils.R
  modules/assim.batch/man/return.bias.Rd
  modules/assim.batch/man/sample_MCMC.Rd
  modules/assim.batch/man/write_sf_posterior.Rd
  modules/emulator/R/minimize.GP.R
  modules/uncertainty/R/flux_uncertainty.R
  modules/uncertainty/man/flux.uncertainty.Rd
Labels: Priority: 02 - Normal, Type: Enhancement

#1988 Shiny depend
  CHANGELOG.md
  shiny/Pecan.depend/SERVER.R
  shiny/Pecan.depend/UI.R
  shiny/Pecan.depend/global.R
  shiny/Pecan.depend/www/style.css
Labels: Priority: 02 - Normal, Status: Review required, Topic: Visualization

#1980 Progress Spinner (for D1 download) and Editing Directory Name for Local Upload
  .travis.yml
  CHANGELOG.md
  base/visualization/DESCRIPTION
  modules/data.land/DESCRIPTION
  shiny/Data-Ingest/DESCRIPTION
  shiny/Data-Ingest/app.R
Labels: Priority: 02 - Normal

#1991 Update PEcAnRTM
  CHANGELOG.md
  modules/rtm/NAMESPACE
  modules/rtm/R/sail.R
  modules/rtm/man/foursail.Rd
  modules/rtm/tests/testthat/test.foursail.R
Labels: Priority: 02 - Normal, Status: in progress, Type: Enhancement

#1992 Travis: use Docker postgis
  .travis.yml
  modules/data.atmosphere/R/download.AmerifluxLBL.R
  modules/data.atmosphere/R/download.NEONmet.R
  modules/data.atmosphere/man/download.AmerifluxLBL.Rd
  modules/data.atmosphere/man/download.NEONmet.Rd
Labels: Status: Ready
