Repository PecanProject/pecan, pull requests merged in 2018-03, with the labels that each got.

#1835 Updating fates - in progress
  CHANGELOG.md
  models/fates/R/write.configs.FATES.R
  models/fates/inst/clm5_params.c171117.nc
  models/fates/inst/clm_params.c170317.nc
  models/fates/inst/clm_params_ed_l2f0.5_tropid2.c161020.nc
  models/fates/inst/create_1x1_ref_case_old.sh
  models/fates/inst/create_CLM5-FATES_1x1br_refrun.sh
  models/fates/inst/datm.streams.txt.PEcAn_met.template
  models/fates/inst/fates_params.c170331.nc
  models/fates/inst/fates_params.c170512_trop.nc
  models/fates/inst/fates_params_2troppftclones.c171018_sps.nc
  models/fates/inst/surfdata_1x1_brazil_16pfts_Irrig_CMIP6_simyr2000_c171214.nc
  models/fates/inst/surfdata_1x1_brazil_16pfts_simyr2000_c160127.nc
  models/fates/inst/template.job
  models/fates/inst/template.job.createclone
  models/fates/inst/tropical_params_ckmod_01May2017.nc
Labels: in progress

#1854 Making met2model.ED2 stop enforcing leap years.
  CHANGELOG.md
  base/utils/R/days_in_year.R
  base/utils/R/seconds_in_year.R
  base/utils/R/utils.R
  base/utils/man/days_in_year.Rd
  base/utils/man/seconds_in_year.Rd
  base/visualization/DESCRIPTION
  models/dalec/DESCRIPTION
  models/ed/R/met2model.ED2.R
  models/ed/man/met2model.ED2.Rd
  models/fates/DESCRIPTION
  models/jules/DESCRIPTION
  models/maat/DESCRIPTION
  models/sipnet/DESCRIPTION
  modules/assim.sequential/DESCRIPTION
  modules/data.atmosphere/DESCRIPTION
  modules/data.land/DESCRIPTION
Labels: Status: Ready, Topic: models - ED

#1882 utils: Residual leap year-related bug
  base/utils/R/seconds_in_year.R
  base/utils/man/seconds_in_year.Rd
Labels: Priority: 03 - High, Status: Review required, Type: Bug

#1883 model2netcdf.ED fix
  models/ed/R/model2netcdf.ED2.R
  models/ed/inst/ED2IN.rgit_istfer
Labels: Priority: 03 - High, Status: Review required, Topic: models - ED

#1877 added license, references, funding to .zenodo.json
  .zenodo.json
Labels: Priority: 02 - Normal, Status: in progress

#1885 change check_paths default to false
  models/ed/R/modify_ed2in.R
  models/ed/R/write.configs.ed.R
  models/ed/man/modify_ed2in.Rd
Labels: Status: Ready
