Repository PecanProject/pecan, pull requests merged in 2018-08, with the labels that each got.

#2012 Format Record db.query (Shiny Ingest App)
  CHANGELOG.md
  base/db/NAMESPACE
  base/db/R/dbfiles.R
  base/db/R/insert.format.vars.R
  base/db/man/insert.format.vars.Rd
  shiny/Data-Ingest/app.R
  shiny/Data-Ingest/server_files/ingest_workflow_svr.R
Labels: Priority: 02 - Normal, Status: in progress, Topic: BETYdb, Topic: Visualization

#2025 Making write.ensemble.configs compatible with other models
  CHANGELOG.md
  base/utils/R/ensemble.R
  models/sipnet/R/write.configs.SIPNET.R
  modules/uncertainty/R/ensemble.R
  web/04-runpecan.php
Labels: Status: Review required

#2023 Nefi scripts
  modules/assim.sequential/inst/NEFI/README.txt
  modules/assim.sequential/inst/NEFI/dbscripts/README.txt
  modules/assim.sequential/inst/NEFI/dbscripts/dbSelectRemove.R
  modules/assim.sequential/inst/NEFI/dbscripts/dbclean.R
  modules/assim.sequential/inst/NEFI/dbscripts/dbsetup.R
  modules/assim.sequential/inst/NEFI/gefs.sipnet.source.xml
  modules/assim.sequential/inst/NEFI/generate.gefs.xml.R
  modules/assim.sequential/inst/NEFI/graphs.R
  modules/assim.sequential/inst/NEFI/last12days.R
  modules/assim.sequential/inst/NEFI/run.gefs.sipnet.EXAMPLE.sh
Labels: Priority: 01 - Low, Status: Ready, Type: Enhancement

#2035 Sipnet SDA Preprocessing Code
  modules/data.atmosphere/NAMESPACE
  modules/data.atmosphere/R/download.US_WCr.R
  modules/data.atmosphere/man/download.US_WCr.Rd
  modules/uncertainty/NAMESPACE
  modules/uncertainty/R/prep.data.assim.R
  modules/uncertainty/man/prep.data.assim.Rd
  scripts/workflow.wcr.assim.R
Labels: Priority: 02 - Normal, Status: Review required, Type: Enhancement

#2034 Ensemble Recognition
  base/db/R/dbfiles.R
  base/db/man/dbfile.input.check.Rd
  base/utils/R/convert.input.R
  base/utils/man/convert.input.Rd
  modules/data.atmosphere/R/metgapfill.NOAA_GEFS.R
Labels: Priority: 02 - Normal, Status: Review required, Type: Bug

#2063 Fix the defining of args for db.file.insert in convert.inputs
  base/utils/R/convert.input.R
Labels: Priority: 03 - High, Status: Review required, Type: Bug

#2067 Fix the met for SA
  CHANGELOG.md
  base/utils/R/sensitivity.R
Labels: Priority: 02 - Normal

#2058 Continuing with MAAT wrapper updates
  CHANGELOG.md
  base/utils/data/standard_vars.csv
  models/maat/DESCRIPTION
  models/maat/R/met2model.MAAT.R
  models/maat/R/model2netcdf.MAAT.R
  models/maat/R/write.config.MAAT.R
  models/maat/README.md
  models/maat/inst/leaf_user_met.xml
  models/maat/inst/out.csv
  models/maat/inst/pecan.maat.xml
  models/maat/inst/register.MAAT.xml
  models/maat/inst/simple_workflow.R
  models/maat/inst/template.job
  models/maat/man/met2model.MAAT.Rd
  models/maat/man/model2netcdf.MAAT.Rd
  models/maat/vignettes/create_amerifluxLBL_drivers_for_maat.Rmd
  models/maat/vignettes/graphics/example_assimilation_rate.png
  models/maat/vignettes/running_maat_in_pecan.Rmd
Labels: Priority: 02 - Normal, Status: Review required, Type: Enhancement
