Repository PecanProject/pecan, pull requests merged in 2018-05, with the labels that each got.

#1904 data.atmosphere: Download NARR using THREDDS
  .travis.yml
  CHANGELOG.md
  modules/data.atmosphere/DESCRIPTION
  modules/data.atmosphere/NAMESPACE
  modules/data.atmosphere/R/download.NARR.R
  modules/data.atmosphere/R/download.NARR_site.R
  modules/data.atmosphere/R/robustly.R
  modules/data.atmosphere/man/col2ncvar.Rd
  modules/data.atmosphere/man/daygroup.Rd
  modules/data.atmosphere/man/download.NARR_site.Rd
  modules/data.atmosphere/man/generate_narr_url.Rd
  modules/data.atmosphere/man/get_NARR_thredds.Rd
  modules/data.atmosphere/man/get_narr_url.Rd
  modules/data.atmosphere/man/latlon2lcc.Rd
  modules/data.atmosphere/man/latlon2narr.Rd
  modules/data.atmosphere/man/narr_flx_vars.Rd
  modules/data.atmosphere/man/post_process.Rd
  modules/data.atmosphere/man/prepare_narr_year.Rd
  modules/data.atmosphere/man/read_narr_var.Rd
  modules/data.atmosphere/man/robustly.Rd
  modules/data.atmosphere/tests/testthat/test.download.NARR.R
Labels: Priority: 01 - Low, Status: Review required, Topic: Input - Meteorology, Type: Enhancement

#1896 Shiny benchmarking reorganization
  shiny/workflowPlot/markdown/workflowPlot_doc.Rmd
  shiny/workflowPlot/server.R
  shiny/workflowPlot/server_files/benchmarking_server.R
  shiny/workflowPlot/server_files/model_data_plots_server.R
  shiny/workflowPlot/server_files/model_plots_server.R
  shiny/workflowPlot/server_files/select_data_server.R
  shiny/workflowPlot/server_files/sidebar_server.R
  shiny/workflowPlot/ui.R
  shiny/workflowPlot/ui_files/benchmarking_plots_UI.R
  shiny/workflowPlot/ui_files/benchmarking_scores_UI.R
  shiny/workflowPlot/ui_files/benchmarking_settings_UI.R
  shiny/workflowPlot/ui_files/model_data_plots_UI.R
  shiny/workflowPlot/ui_files/model_plots_UI.R
  shiny/workflowPlot/ui_files/select_data_UI.R
  shiny/workflowPlot/ui_files/sidebar_UI.R
  shiny/workflowPlot/ui_utils.R
Labels: Priority: 02 - Normal, Status: Review required, Topic: Benchmark

#1943 remove aspace package dependency
  modules/data.atmosphere/DESCRIPTION
  modules/data.atmosphere/R/met_temporal_downscale.Gaussian_ensemble.R
Labels: Status: Review required

#1941 use newer geonames
  CHANGELOG.md
  modules/data.atmosphere/DESCRIPTION
  modules/data.atmosphere/R/met2CF.Ameriflux.R
  modules/data.atmosphere/R/site.lst.R
Labels: Priority: 02 - Normal, Status: Ready, Type: Bug

#1897 read_restart and write_restart for ED-SDA coupling
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  book_source/06_reference/02_models/model_index.Rmd
  models/ed/DESCRIPTION
  models/ed/NAMESPACE
  models/ed/R/SDA.helpers.ED2.R
  models/ed/R/ed_varlookup.R
  models/ed/R/met2model.ED2.R
  models/ed/R/model2netcdf.ED2.R
  models/ed/R/modify_ed2in.R
  models/ed/R/other.helpers.ED2.R
  models/ed/R/read_restart.ED2.R
  models/ed/R/write.configs.ed.R
  models/ed/R/write_restart.ED2.R
  models/ed/inst/template.job
  models/ed/man/ed.var.Rd
  models/ed/man/read_S_files.Rd
  models/ed/man/read_restart.ED2.Rd
  models/ed/man/translate_vars_ed.Rd
  models/ed/man/write.config.ED2.Rd
  models/ed/man/write_restart.ED2.Rd
  models/ed/tests/test_ed_integration.R
  models/template/R/write_restart.ModelName.R
  models/template/man/write_restart.ModelName.Rd
  modules/assim.sequential/NAMESPACE
  modules/assim.sequential/R/met_filtering_helpers.R
  modules/assim.sequential/R/sda.enkf.R
  modules/assim.sequential/inst/paleon_sda.R
Labels: Priority: 02 - Normal, Status: Review required, Topic: models - ED

#1944 Make warnings actually fire
  modules/data.atmosphere/R/download.GFDL.R
Labels: Status: Review required

#1950 Run Sensitivity Analysis for multiple output in Sipnet
  modules/uncertainty/inst/abbreviated_workflow_SIPNET.R
Labels: Priority: 02 - Normal, Status: Review required

#1951 Minor update to read.ouput.R
  CHANGELOG.md
  base/utils/NAMESPACE
  base/utils/R/read.output.R
  base/utils/man/convert.outputs.Rd
Labels: Priority: 02 - Normal, Status: Ready, Type: Enhancement
