Repository PecanProject/pecan, pull requests merged in 2018-11, with the labels that each got.

#2144 Linking sites with PFTs
  base/settings/NAMESPACE
  base/settings/R/loadPath_sitePFT.R
  base/settings/R/pft_site_linker.R
  base/settings/R/prepare.settings.R
  base/settings/R/site_pft_link_settings.R
  base/settings/man/loadPath.sitePFT.Rd
  base/settings/man/site.pft.link.settings.Rd
  base/settings/man/site.pft.linkage.Rd
  base/utils/R/sensitivity.R
  base/utils/R/utils.R
  base/utils/man/get.run.id.Rd
  book_source/03_intermediate_users_guide/01_pecan_xml.Rmd
  modules/uncertainty/R/ensemble.R
  modules/uncertainty/R/get.parameter.samples.R
Labels: Status: Review required

#2171 Small update to models/ed/R/model2netcdf.ED2.R
  CHANGELOG.md
  models/ed/R/model2netcdf.ED2.R
Labels: Type: Bug

#2182 DOCKER: New development workflow using RabbitMQ
  book_source/06_reference/04_docker/05_building_images.Rmd
  docker/receiver.py
  scripts/docker_rebuild.sh
Labels: Priority: 01 - Low, Status: Review required, Topic: Docker, Type: Enhancement

#2183 ED2: Pass arbitrary binary arguments
  CHANGELOG.md
  book_source/06_reference/02_models/ed.Rmd
  models/ed/R/write.configs.ed.R
  models/ed/inst/template.job
  models/ed/man/write.config.jobsh.ED2.Rd
Labels: Priority: 02 - Normal, Status: Review required, Topic: models - ED

#2192 PEcAn Docker API
  CHANGELOG.md
  api/.Rbuildignore
  api/.gitignore
  api/DESCRIPTION
  api/NAMESPACE
  api/R/add_database.R
  api/R/add_pft.R
  api/R/add_rabbitmq.R
  api/R/add_workflow.R
  api/R/get_model_id.R
  api/R/insert_new_workflow.R
  api/R/list_runs.R
  api/R/prepared_query.R
  api/R/search.R
  api/R/submit_workflow.R
  api/R/thredds_fileserver.R
  api/R/thredds_opendap.R
  api/R/watch_progress.R
  api/R/zzz.R
  api/inst/test_sipnet.R
  api/man/add_database.Rd
  api/man/add_pft.Rd
  api/man/add_rabbitmq.Rd
  api/man/add_workflow.Rd
  api/man/dbfile_url.Rd
  api/man/get_model_id.Rd
  api/man/get_next_workflow_id.Rd
  api/man/get_run_id.Rd
  api/man/insert_new_workflow.Rd
  api/man/list_runs.Rd
  api/man/output_url.Rd
  api/man/pecanapi_options.Rd
  api/man/prepared_query.Rd
  api/man/run_dap.Rd
  api/man/run_url.Rd
  api/man/search.Rd
  api/man/submit_workflow.Rd
  api/man/thredds_dap_url.Rd
  api/man/thredds_fs_url.Rd
  api/man/watch_workflow.Rd
  api/man/workflow_output.Rd
  api/vignettes/pecanapi.Rmd
  book_source/03_intermediate_users_guide/05_pecan_api.Rmd
  book_source/07_tutorials_vignettes/08_pecan_api
  docker/base/Dockerfile.executor
  docker/receiver.py
  docker/thredds_catalog.xml
Labels: Priority: 01 - Low, Status: Review required, Topic: Docker

#2205 fix heartbeat rabbitmq
  docker/receiver.py
Labels: Topic: Docker
