Repository PecanProject/pecan, pull requests merged in 2018-10, with the labels that each got.

#2118 Documentation for PEcAn's `docker-compose.yml` file
  book_source/06_reference/04_docker/02_quickstart.Rmd
  book_source/06_reference/04_docker/03_architecture.Rmd
  docker-compose.yml
Labels: Status: Ready

#2126 Linking site with PFT
  modules/uncertainty/R/ensemble.R
Labels: Status: in progress

#2152 DOCKER: Make web post RabbitMQ messages even after edit
  CHANGELOG.md
  book_source/06_reference/09_rabbitmq.Rmd
  docker/receiver.py
  web/04-runpecan.php
  web/07-continue.php
  web/common.php
Labels: Priority: 02 - Normal, Status: Review required, Topic: Docker, Topic: Web interface, Type: Bug

#2155 Check against CRUNCEP land-sea mask during `download.CRUNCEP`
  CHANGELOG.md
  modules/data.atmosphere/R/download.CRUNCEP_Global.R
Labels: Status: Review required, Topic: Input - Meteorology, Type: Enhancement

#2157 MET/BUGFIX: Create CRUNCEP `outfolder` before downloading maskfile
  modules/data.atmosphere/R/download.CRUNCEP_Global.R
Labels: Priority: 03 - High, Status: Ready, Topic: Input - Meteorology, Type: Bug

#2164 DOCKER: Add prototype of THREDDS data server
  CHANGELOG.md
  book_source/06_reference/04_docker/03_architecture.Rmd
  docker-compose.yml
  docker/base/Dockerfile.thredds
  docker/thredds_catalog.xml
Labels: Priority: 01 - Low, Status: Review required, Topic: Docker, Type: Enhancement
