Repository PecanProject/pecan, pull requests merged in 2019-01, with the labels that each got.

#2256 DOCKER: Fix trailing backslash in Dockerfile.monitor
  docker/base/Dockerfile.monitor
Labels: Priority: 02 - Normal, Topic: Docker, Type: Bug

#2259 ED2: `ed2_pft_number` XML tag, and documentation updates
  book_source/06_reference/02_models/00_model_index.Rmd
  book_source/06_reference/02_models/01_template.Rmd
  book_source/06_reference/02_models/99_template.Rmd
  book_source/06_reference/02_models/BioCro-configuration.Rmd
  book_source/06_reference/02_models/SIPNET-configuration.Rmd
  book_source/06_reference/02_models/biocro.Rmd
  book_source/06_reference/02_models/clm.Rmd
  book_source/06_reference/02_models/dalec.Rmd
  book_source/06_reference/02_models/ed.Rmd
  book_source/06_reference/02_models/gday.Rmd
  book_source/06_reference/02_models/linkages.Rmd
  book_source/06_reference/02_models/lpj-guess.Rmd
  book_source/06_reference/02_models/maespa.Rmd
  book_source/06_reference/02_models/preles.Rmd
  book_source/06_reference/02_models/sipnet.Rmd
  models/ed/DESCRIPTION
  models/ed/R/write.configs.ed.R
Labels: Priority: 02 - Normal, Status: Review required, Topic: models - ED, Type: Documentation, Type: Enhancement

#2237 UTILS: Remove (or Suggest) under-utilized dependencies
  CHANGELOG.md
  base/db/DESCRIPTION
  base/db/R/get.trait.data.R
  base/settings/DESCRIPTION
  base/utils/DESCRIPTION
  base/utils/R/ensemble.R
  base/utils/R/mcmc.list2init.R
  base/utils/R/need_packages.R
  base/utils/R/plots.R
  base/utils/R/r2bugs.distributions.R
  base/utils/R/regrid.R
  base/utils/R/utils.R
  base/utils/man/PEcAn.Rd
  base/utils/man/convert.input.Rd
  base/utils/man/distn.stats.Rd
  base/utils/man/distn.table.stats.Rd
  base/utils/man/download.file.Rd
  base/utils/man/get.ensemble.samples.Rd
  base/utils/man/match_file.Rd
  base/utils/man/need_packages.Rd
  base/utils/man/read.ensemble.output.Rd
  base/utils/man/read.output.Rd
  base/utils/man/read.sa.output.Rd
  base/utils/man/read_web_config.Rd
  base/utils/man/run.write.configs.Rd
  base/utils/man/standard_vars.Rd
  base/utils/man/summarize.result.Rd
  base/utils/man/trait.lookup.Rd
  base/utils/man/units_are_equivalent.Rd
  base/utils/man/write.ensemble.configs.Rd
  base/utils/tests/testthat/test.plots.R
  base/utils/tests/testthat/test.utils.R
Labels: Priority: 01 - Low, Status: Ready

#2209 Cleanup and enhancements to `utils::read.output`
  CHANGELOG.md
  base/logger/NAMESPACE
  base/logger/R/print2string.R
  base/logger/man/print2string.Rd
  base/utils/R/read.output.R
  base/utils/man/read.output.Rd
  base/utils/tests/testthat/helper.R
  base/utils/tests/testthat/test-read.output.R
Labels: Priority: 01 - Low, Status: Review required, Type: Enhancement

#2263 Reverting back from PR #2137 to fix issues with MAAT wrappers.
  CHANGELOG.md
  models/maat/R/model2netcdf.MAAT.R
  models/maat/man/model2netcdf.MAAT.Rd
  models/maat/man/process_maat_variable.Rd
Labels: Status: Ready

#2250 Add documentation issue template and button to edit documentation.
  .github/ISSUE_TEMPLATE/Doc_changes.md
  CHANGELOG.md
  book_source/_bookdown.yml
Labels: Type: Documentation
