Repository PecanProject/pecan, pull requests merged in 2019-06, with the labels that each got.

#2361 ED2: Allow negative numbers in custom ED2IN tag vectors
  models/ed/R/write.configs.ed.R
Labels: Status: Review required, Topic: models - ED, Type: Bug

#2358 Fix meta-analysis = AUTO bug, and other PEcAn.DB cleanup
  .travis.yml
  CHANGELOG.md
  base/db/NAMESPACE
  base/db/R/dbfiles.R
  base/db/R/get.trait.data.R
  base/db/R/insert_table.R
  base/db/R/met_inputs.R
  base/db/R/query.prior.R
  base/db/R/query_pfts.R
  base/db/man/dbfile.check.Rd
  base/db/man/get.trait.data.Rd
  base/db/man/get.trait.data.pft.Rd
  base/db/man/met_inputs.Rd
  base/db/man/query.priors.Rd
  base/db/man/query_pfts.Rd
  base/db/man/query_priors.Rd
  base/db/man/symmetric_setdiff.Rd
  base/db/tests/testthat/db.setup.R
  base/db/tests/testthat/helper-db-setup.R
  base/db/tests/testthat/test-get.trait.data.pft.R
  base/db/tests/testthat/test-query.pft.R
  base/db/tests/testthat/test-query.traits.R
  base/db/tests/testthat/test.contents_sanity.R
  base/db/tests/testthat/test.db.utils.R
  base/db/tests/testthat/test.derive.traits.R
  base/db/tests/testthat/test.query.base.R
  base/db/tests/testthat/test.query_pfts.R
  base/utils/NAMESPACE
  base/utils/R/load_local.R
  base/utils/R/utils.R
  base/utils/man/load_local.Rd
  modules/meta.analysis/DESCRIPTION
  modules/meta.analysis/R/approx.posterior.R
  modules/meta.analysis/R/jagify.R
  modules/meta.analysis/R/meta.analysis.R
  modules/meta.analysis/R/single.MA.R
  modules/meta.analysis/man/pecan.ma.Rd
  modules/meta.analysis/man/run.meta.analysis.Rd
  modules/meta.analysis/man/single.MA.Rd
  tests/travis.sipnet_PostgreSQL.xml
  tests/travis.sipnet_Postgres.xml
Labels: Priority: 02 - Normal, Status: Review required, Topic: BETYdb, Type: Bug, Type: Enhancement

#2373 DB: Correctly format PFT ID in query.priors
  base/db/R/get.trait.data.R
  base/db/R/query.prior.R
  base/remote/R/stamp.R
  modules/uncertainty/R/ensemble.R
Labels: Priority: 03 - High, Type: Bug

#2375 ED: Fix gsub pattern in model2netcdf.ED2
  models/ed/R/model2netcdf.ED2.R
Labels: Type: Bug

#2374 DB: Bugfixes in `get.trait.data`
  base/db/DESCRIPTION
  base/db/R/get.trait.data.R
  base/db/man/symmetric_setdiff.Rd
  base/db/tests/testthat/helper-db-setup.R
  base/db/tests/testthat/test-get.trait.data.pft.R
  base/db/tests/testthat/test.symmetric-setdiff.R
  docker/depends/pecan.depends
Labels: Priority: 03 - High, Type: Bug

#2369 Adding BADM IC to the do_conversion function
  base/workflow/R/do_conversions.R
  modules/data.land/NAMESPACE
  modules/data.land/R/IC_BADM_Utilities.R
  modules/data.land/R/ic_process.R
  modules/data.land/R/pool_ic_list2netcdf.R
  modules/data.land/man/BADM_IC_process.Rd
  modules/data.land/man/ic_process.Rd
  modules/data.land/man/netcdf.writer.BADM.Rd
  modules/data.land/man/pool_ic_list2netcdf.Rd
Labels: Status: Review required

#2293 Remote SDA launcher
  base/remote/R/stamp.R
  base/remote/R/start.model.runs.R
  base/remote/R/start_qsub.R
  base/settings/R/loadPath_sitePFT.R
  base/settings/R/pft_site_linker.R
  base/settings/R/site_pft_link_settings.R
  base/settings/man/site.pft.link.settings.Rd
  book_source/02_demos_tutorials_workflows/04_more_web_interface/02_hidden_analyses.Rmd
  docker/depends/pecan.depends
  models/sipnet/R/read_restart.SIPNET.R
  models/sipnet/R/write.configs.SIPNET.R
  models/sipnet/R/write_restart.SIPNET.R
  modules/assim.sequential/DESCRIPTION
  modules/assim.sequential/NAMESPACE
  modules/assim.sequential/R/Analysis_sda_multiSite.R
  modules/assim.sequential/R/Helper.functions.R
  modules/assim.sequential/R/Localization.R
  modules/assim.sequential/R/Nimble_codes.R
  modules/assim.sequential/R/Remote_helpers.R
  modules/assim.sequential/R/sda.enkf_MultiSite.R
  modules/assim.sequential/R/sda.enkf_refactored.R
  modules/assim.sequential/R/sda_plotting.R
  modules/assim.sequential/inst/RemoteLauncher/Remote_sync.R
  modules/assim.sequential/inst/RemoteLauncher/Run.bash
  modules/assim.sequential/inst/RemoteLauncher/SDA_launcher.R
  modules/assim.sequential/man/Obs.data.prepare.MultiSite.Rd
  modules/assim.sequential/man/Remote.Sync.launcher.Rd
  modules/assim.sequential/man/SDA_control.Rd
  modules/assim.sequential/man/SDA_remote_launcher.Rd
  modules/assim.sequential/man/alltocs.Rd
  modules/assim.sequential/man/outlier.detector.boxplot.Rd
  modules/assim.sequential/man/sda.enkf.Rd
  modules/assim.sequential/man/sda.enkf.multisite.Rd
Labels: Status: Review required, Type: Enhancement
