Repository PecanProject/pecan, pull requests merged in 2019-07, with the labels that each got.

#2271 Adding the ALR transform to SDA
  models/linkages/R/read_restart.LINKAGES.R
  models/linkages/R/write.config.LINKAGES.R
  models/linkages/R/write_restart.LINKAGES.R
  modules/assim.sequential/NAMESPACE
  modules/assim.sequential/R/Analysis_sda.R
  modules/assim.sequential/R/Nimble_codes.R
  modules/assim.sequential/R/assess.params.R
  modules/assim.sequential/R/get_ensemble_weights.R
  modules/assim.sequential/R/sda.enkf_refactored.R
  modules/assim.sequential/R/sda_plotting.R
  modules/assim.sequential/inst/alr_test.R
  modules/assim.sequential/inst/paleon_sda.R
  modules/assim.sequential/inst/sda.rewind.R
  modules/assim.sequential/inst/sda.tobit.simulation.R
  modules/assim.sequential/man/GEF.Rd
  modules/assim.sequential/man/get_ensemble_weights.Rd
Labels: Priority: 02 - Normal, Status: in progress, Topic: Modules, Type: Enhancement

#2382 use git to build sipnet
  CHANGELOG.md
  docker.sh
  models/sipnet/Dockerfile
  scripts/add.models.sh
  scripts/install_pecan.sh
Labels: Topic: Docker, Topic: models - SIPNET

#2383 fix rstudio docker
  docker-compose.yml
  docker/rstudio-nginx/nginx.conf
Labels: Topic: Docker

#2385 Add rstudio to homepage
  docker/docs/index.html
Labels: Topic: Docker

#2389 Add Setaria as genus for running BioCro
  models/biocro/R/call_biocro.R
  models/biocro/inst/extdata/defaults/setaria.xml
Labels: Topic: models - BioCro, Type: Enhancement
