Repository PecanProject/pecan, pull requests merged in 2019-09, with the labels that each got.

#2089 Initial base code to create batch Runs
  base/utils/R/read_web_config.R
  base/utils/man/read_web_config.Rd
  base/workflow/DESCRIPTION
  base/workflow/NAMESPACE
  base/workflow/R/create_execute_test_xml.R
  base/workflow/inst/batch_run.R
  base/workflow/inst/default_tests.csv
  base/workflow/inst/permutation_tests.R
  base/workflow/man/create_execute_test_xml.Rd
  book_source/02_demos_tutorials_workflows/05_developer_workflows/03_coding_practices/01_Coding_style.Rmd
  book_source/02_demos_tutorials_workflows/05_developer_workflows/03_coding_practices/05_Testing.Rmd
Labels: Priority: 02 - Normal, Status: Review required, Status: in progress

#2414 Adding workflow for variance partitioning
  modules/assim.sequential/inst/sda.rewind.R
  modules/assim.sequential/inst/workflow.variance.partitioning.R
Labels: Priority: 02 - Normal, SDA, Status: Ready

#2411 Clean up "Developer guide" documentation
  Makefile
  book_source/02_demos_tutorials_workflows/02_user_demos/01_introductions_user.Rmd
  book_source/02_demos_tutorials_workflows/03_web_workflow.Rmd
  book_source/02_demos_tutorials_workflows/05_developer_workflows/03_coding_practices/01-coding-style.Rmd
  book_source/02_demos_tutorials_workflows/05_developer_workflows/03_coding_practices/02-logging.Rmd
  book_source/02_demos_tutorials_workflows/05_developer_workflows/03_coding_practices/02_Logging.Rmd
  book_source/02_demos_tutorials_workflows/05_developer_workflows/03_coding_practices/03-package-data.Rmd
  book_source/02_demos_tutorials_workflows/05_developer_workflows/03_coding_practices/04-roxygen.Rmd
  book_source/02_demos_tutorials_workflows/05_developer_workflows/03_coding_practices/04_Roxygen2.Rmd
  book_source/02_demos_tutorials_workflows/05_developer_workflows/03_coding_practices/05_Testing.Rmd
  book_source/02_demos_tutorials_workflows/05_developer_workflows/04-testing.Rmd
  book_source/02_demos_tutorials_workflows/05_developer_workflows/05-compile-pecan.Rmd
  book_source/02_demos_tutorials_workflows/05_developer_workflows/06-directory-structure.Rmd
  book_source/03_topical_pages/10_shiny/shiny.Rmd
  book_source/04_appendix/04-package-dependencies.Rmd
  book_source/04_appendix/05-testthat.Rmd
  book_source/04_appendix/06_devtools.Rmd
Labels: Type: Documentation

#2419 BUILD: Use `options` instead of arguments
  Makefile
Labels: Type: Bug

#2418 Finer control over BETY con in integration tests
  base/workflow/R/create_execute_test_xml.R
  base/workflow/man/create_execute_test_xml.Rd
Labels: Type: Bug

#2426 Changing the default method for download.CRUNCEP
  CHANGELOG.md
  modules/data.atmosphere/R/download.CRUNCEP_Global.R
  modules/data.atmosphere/man/download.CRUNCEP.Rd
Labels: bug fix

#2368 workflow app
  modules/benchmark/R/calc_benchmark.R
  shiny/workflowPlot/markdown/app_documentation.Rmd
  shiny/workflowPlot/markdown/benchmarking_plots.Rmd
  shiny/workflowPlot/markdown/benchmarking_scores.Rmd
  shiny/workflowPlot/markdown/benchmarking_setting.Rmd
  shiny/workflowPlot/markdown/exploratory_plot.Rmd
  shiny/workflowPlot/markdown/setup_page.Rmd
  shiny/workflowPlot/server.R
  shiny/workflowPlot/server_files/benchmarking_server.R
  shiny/workflowPlot/server_files/history_server.R
  shiny/workflowPlot/server_files/model_data_plots_server.R
  shiny/workflowPlot/server_files/model_plots_server.R
  shiny/workflowPlot/server_files/pdf_viewer_server.R
  shiny/workflowPlot/server_files/select_data_server.R
  shiny/workflowPlot/server_files/sidebar_server.R
  shiny/workflowPlot/ui.R
  shiny/workflowPlot/ui_files/benchmarking_ScoresPlots_UI.R
  shiny/workflowPlot/ui_files/benchmarking_plots_UI.R
  shiny/workflowPlot/ui_files/benchmarking_scores_UI.R
  shiny/workflowPlot/ui_files/benchmarking_settings_UI.R
  shiny/workflowPlot/ui_files/documentation_UI.R
  shiny/workflowPlot/ui_files/model_data_plots_UI.R
  shiny/workflowPlot/ui_files/model_plots_UI.R
  shiny/workflowPlot/ui_files/pdf_viewer_UI.R
  shiny/workflowPlot/ui_files/select_data_UI.R
  shiny/workflowPlot/ui_files/sidebar_UI.R
  shiny/workflowPlot/www/scripts.js
  shiny/workflowPlot/www/style.css
Labels: Topic: Visualization

#2288 Write config bug fix and improvement
  base/workflow/R/run.write.configs.R
  modules/uncertainty/R/ensemble.R
  modules/uncertainty/R/get.parameter.samples.R
Labels: Status: Review required, Type: Bug
