Repository PecanProject/pecan, pull requests merged in 2019-10, with the labels that each got.

#2443 Fix for get.parameter.samples
  modules/uncertainty/R/get.parameter.samples.R
Labels: bug fix

#2434 WCr SDA
  modules/assim.sequential/R/Adjustment.R
  modules/assim.sequential/R/sda.enkf_refactored.R
  modules/assim.sequential/R/sda_plotting.R
  modules/assim.sequential/inst/NEFI/graphs.R
  modules/assim.sequential/inst/NEFI/graphs_timeframe.R
  modules/assim.sequential/inst/WillowCreek/gefs.sipnet.template.xml
  modules/assim.sequential/inst/WillowCreek/workflow.template.R
  modules/data.atmosphere/NAMESPACE
  modules/data.atmosphere/R/download.NOAA_GEFS_downscale.R
  modules/data.atmosphere/R/download.US_Syv.R
  modules/data.atmosphere/man/download.US_Syv.Rd
Labels: Priority: 01 - Low, SDA, Status: in progress

#2459 SDA .nc file output update
  modules/assim.sequential/R/sda.enkf_refactored.R
  modules/assim.sequential/inst/WillowCreek/forecast.sh
  modules/assim.sequential/inst/WillowCreek/gefs.sipnet.template.xml
  modules/assim.sequential/inst/WillowCreek/workflow.template.R
Labels: bug fix

#2467 Make sure `include_pft` is correct in write.config.xml.ED2
  models/ed/R/write.configs.ed.R
Labels: Topic: models - ED, bug fix
