Repository PecanProject/pecan, pull requests merged in 2020-11, with the labels that each got.

#2728 API: Only pass model ID to PEcAn
  apps/api/R/submit.workflow.R
Labels: bug fix

#2732 Temporal Downscaling Bug Fix
  modules/data.atmosphere/R/tdm_lm_ensemble_sims.R
  modules/data.atmosphere/man/lm_ensemble_sims.Rd
Labels: Priority: 03 - High, Status: Ready, Topic: Input - Meteorology, Type: Bug

#2729 Debias ensemble fixes
  modules/data.atmosphere/R/debias_met_regression.R
  modules/data.atmosphere/man/debias.met.regression.Rd
Labels: Priority: 03 - High, Status: Ready, Topic: Input - Meteorology

#2750 update met downscaling sanity bounds
  modules/data.atmosphere/R/debias_met_regression.R
  modules/data.atmosphere/R/tdm_lm_ensemble_sims.R
  modules/data.atmosphere/man/debias.met.regression.Rd
Labels: Priority: 02 - Normal, Status: Ready
