Repository PecanProject/pecan, pull requests merged in 2020-10, with the labels that each got.

#2705 Met Temporal Downscaling Fixes & Updates
  modules/data.atmosphere/R/tdm_lm_ensemble_sims.R
  modules/data.atmosphere/R/tdm_model_train.R
  modules/data.atmosphere/R/tdm_predict_subdaily_met.R
  modules/data.atmosphere/R/tdm_subdaily_pred.R
  modules/data.atmosphere/man/predict_subdaily_met.Rd
Labels: Priority: 03 - High, Status: Ready, Type: Bug, Type: Enhancement

#2709 use rabbitmq in R
  CHANGELOG.md
  base/remote/R/rabbitmq.R
  base/remote/R/start_rabbitmq.R
  base/remote/man/rabbitmq_create_queue.Rd
  base/remote/man/rabbitmq_get_message.Rd
  base/remote/man/rabbitmq_parse_uri.Rd
  base/remote/man/rabbitmq_post_message.Rd
  base/remote/man/rabbitmq_send_message.Rd
  base/remote/man/start_rabbitmq.Rd
  book_source/03_topical_pages/94_docker/05_building_images.Rmd
  book_source/03_topical_pages/94_docker/09_rabbitmq.Rmd
  docker-compose.yml
  docker/executor/Dockerfile
  docker/models/model.py
Labels: Topic: Docker

#2708 CMIP5 extraction
  modules/data.atmosphere/R/debias_met_regression.R
  modules/data.atmosphere/R/extract_local_CMIP5.R
  modules/data.atmosphere/man/extract.local.CMIP5.Rd
Labels: Priority: 02 - Normal, Status: Ready, Topic: Input - Meteorology, Type: Bug

#2711 Updates to regression-based debias routines
  modules/data.atmosphere/R/debias_met_regression.R
  modules/data.atmosphere/R/extract_local_NLDAS.R
Labels: Priority: 03 - High, Status: Ready, Topic: Input - Meteorology, Type: Bug
