Repository PecanProject/pecan, pull requests merged in 2020-01, with the labels that each got.

#2506 SIPNET year fix for fragmented years
  models/sipnet/R/met2model.SIPNET.R
Labels: Priority: 01 - Low, SDA

#2521 Redo adding edits to documentation for adding a model
  book_source/03_topical_pages/08_Database-Synchronization.Rmd
  book_source/03_topical_pages/11_adding_to_pecan.Rmd
  book_source/03_topical_pages/11_images/bety_main_page.png
  book_source/03_topical_pages/11_images/bety_modeltype_1.png
  book_source/03_topical_pages/11_images/bety_modeltype_2.png
  book_source/03_topical_pages/11_images/bety_pft_1.png
  book_source/03_topical_pages/11_images/bety_pft_2.png
  book_source/03_topical_pages/11_images/bety_pft_3.png
  book_source/03_topical_pages/11_images/bety_priors_1.png
  book_source/03_topical_pages/11_images/bety_priors_2.png
  book_source/03_topical_pages/11_images/bety_priors_3.png
  book_source/03_topical_pages/11_images/bety_priors_4.png
  book_source/03_topical_pages/11_images/bety_priors_5.png
Labels: Status: Ready

#2338 MODIStools: cleaned up function and added QC filter parameter
  Makefile.depends
  modules/data.remote/DESCRIPTION
  modules/data.remote/NAMESPACE
  modules/data.remote/R/call_MODIS.R
  modules/data.remote/man/call_MODIS.Rd
Labels: Priority: 03 - High, SDA, Status: Ready, Topic: Modules, Topic: New Dataset, Type: Enhancement
