Repository PecanProject/pecan, pull requests merged in 2024-05, with the labels that each got.

#3288 Remove extra arguments for STICS convert_xml2txt
  models/stics/R/met2model.STICS.R
  models/stics/R/write.config.STICS.R
Labels: Tests, Models

#3290 Remove unused inst/met2CF.R
  modules/data.atmosphere/inst/scripts/met2CF.R
Labels: Tests, Modules

#3260 [Docker, CI] Allow building pecan/depends from pecan/depends
  .github/workflows/book.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  book_source/03_topical_pages/94_docker/04_models.Rmd
  docker.sh
  docker/depends/Dockerfile
Labels: Dockerfile, Tests, Documentation, GitHub Actions

#3067 Replacing 'testthat' functions #2987
  docker/depends/pecan_package_dependencies.csv
  modules/data.atmosphere/DESCRIPTION
  modules/data.atmosphere/R/check_met_input.R
Labels: Dockerfile, Tests, Modules

#3242 LDNDC integration - update
  Makefile.depends
  book_source/03_topical_pages/05_models/ldndc.Rmd
  docker/depends/pecan_package_dependencies.csv
  models/ldndc/DESCRIPTION
  models/ldndc/R/met2model.LDNDC.R
  models/ldndc/R/model2netcdf.LDNDC.R
  models/ldndc/R/write.config.LDNDC.R
  models/ldndc/inst/airchemistry.txt
  models/ldndc/inst/events_template.xml
  models/ldndc/inst/project.ldndc
  models/ldndc/inst/setup.xml
  models/ldndc/inst/setup_template.xml
  models/ldndc/inst/site.xml
  models/ldndc/inst/site_template.xml
  models/ldndc/inst/siteparameters_template.xml
Labels: Dockerfile, Tests, Models, Documentation

#3275 [Bug fix] : Fixed `gsub` issue in `write.config.SIPNET`
  models/sipnet/R/write.configs.SIPNET.R
Labels: Tests, Models

#3292 Remove some empty files
  Makefile
  Makefile.depends
  base/settings/man/.Rapp.history
  docker/depends/pecan_package_dependencies.csv
  documentation/tutorials/AnalyzeOutput/bety
  modex_libs
  modules/data.hydrology/DESCRIPTION
  modules/data.hydrology/LICENSE
  modules/data.hydrology/NAMESPACE
  modules/data.hydrology/README.md
  modules/data.hydrology/tests/Rcheck_reference.log
  modules/data.hydrology/tests/testthat.R
  modules/data.hydrology/tests/testthat/test.dummy.R
Labels: Dockerfile, Tests, Modules, Base, Documentation

#3278 Adding functions and scripts for downloading, extracting, and processing observations, initial conditions, land cover types, ERA5 drivers for anchor sites within NA.
  CHANGELOG.md
  base/remote/R/qsub_parallel.R
  book_source/03_topical_pages/04_R_workflow.Rmd
  docker/depends/pecan_package_dependencies.csv
  models/sipnet/R/write.configs.SIPNET.R
  modules/assim.sequential/R/Analysis_sda_block.R
  modules/assim.sequential/R/SDA_OBS_Assembler.R
  modules/assim.sequential/R/sda.enkf_MultiSite.R
  modules/assim.sequential/R/sda_plotting.R
  modules/assim.sequential/inst/MultiSite-Exs/SDA/Create_Multi_settings.R
  modules/assim.sequential/inst/anchor/IC_prep_anchorSites.Rmd
  modules/assim.sequential/inst/anchor/anchorSites_data_prep.Rmd
  modules/assim.sequential/inst/extdata/eco-region.json
  modules/assim.sequential/inst/extdata/eco-regionl2.json
  modules/assim.sequential/man/NA_downscale.Rd
  modules/assim.sequential/man/interactive.plotting.sda.Rd
  modules/data.atmosphere/R/ERA5_met_process.R
  modules/data.atmosphere/inst/ERA5/ERA5_NA_download.R
  modules/data.land/DESCRIPTION
  modules/data.land/NAMESPACE
  modules/data.land/R/IC_BADM_Utilities.R
  modules/data.land/R/ISCN_extract.R
  modules/data.land/R/data.R
  modules/data.land/R/download.SM_CDS.R
  modules/data.land/R/extract_SM_CDS.R
  modules/data.land/R/soilgrids_soc_extraction.R
  modules/data.land/data/iscn_soc.rda
  modules/data.land/man/EPA_ecoregion_finder.Rd
  modules/data.land/man/IC_ISCN_SOC.Rd
  modules/data.land/man/download.SM_CDS.Rd
  modules/data.land/man/extract_SM_CDS.Rd
  modules/data.land/man/iscn_soc.Rd
  modules/data.remote/NAMESPACE
  modules/data.remote/R/MODIS_LAI_prep.R
  modules/data.remote/R/MODIS_LC_prep.R
  modules/data.remote/R/Prep_AGB_IC_from_2010_global.R
  modules/data.remote/man/MODIS_LAI_prep.Rd
  modules/data.remote/man/MODIS_LC_prep.Rd
  modules/data.remote/man/Prep_AGB_IC_from_2010_global.Rd
Labels: Dockerfile, Tests, Modules, Base, Models, Documentation

#3295 Add NEWS.md to data.atmosphere
  modules/data.atmosphere/NEWS.md
Labels: Tests, Modules

#3296 Added GEDI AGB preparation workflow
  CHANGELOG.md
  docker/depends/pecan_deps_from_github.txt
  docker/depends/pecan_package_dependencies.csv
  modules/assim.sequential/R/sda_plotting.R
  modules/assim.sequential/man/interactive.plotting.sda.Rd
  modules/data.land/R/download.SM_CDS.R
  modules/data.remote/DESCRIPTION
  modules/data.remote/NAMESPACE
  modules/data.remote/R/GEDI_AGB_prep.R
  modules/data.remote/R/LandTrendr.AGB.R
  modules/data.remote/man/GEDI_AGB_download.Rd
  modules/data.remote/man/GEDI_AGB_extract.Rd
  modules/data.remote/man/GEDI_AGB_plot.Rd
  modules/data.remote/man/GEDI_AGB_prep.Rd
  modules/data.remote/man/getnetrc.Rd
  modules/data.remote/man/l4_download.Rd
Labels: Dockerfile, Tests, Modules

#3299 Add the NASA_DAAC_download function
  CHANGELOG.md
  docker/depends/pecan_package_dependencies.csv
  modules/data.remote/DESCRIPTION
  modules/data.remote/NAMESPACE
  modules/data.remote/R/NASA_DAAC_download.R
  modules/data.remote/man/NASA_DAAC_download.Rd
Labels: Dockerfile, Tests, Modules

#3291 Add Script to Identify `Orphaned` Functions in Codebase
  scripts/get_orphaned_functions.py
Labels: Tests, Scripts
