Repository PecanProject/pecan, pull requests merged in 2024-11, with the labels that each got.

#3390 Record commit at package installation
  CHANGELOG.md
  Makefile
  base/all/NAMESPACE
  base/all/NEWS.md
  base/all/R/pecan_version.R
  base/all/R/version.R
  base/all/data/pecan_version_history.R
  base/all/man/pecan_version.Rd
  base/all/tests/testthat/test-pecan_version.R
  base/db/R/version.R
  base/logger/R/version.R
  base/qaqc/R/version.R
  base/remote/R/version.R
  base/settings/R/version.R
  base/utils/R/version.R
  base/visualization/R/version.R
  base/workflow/R/version.R
  models/basgra/R/version.R
  models/biocro/R/version.R
  models/clm45/R/version.R
  models/dalec/R/version.R
  models/dvmdostem/R/version.R
  models/ed/R/version.R
  models/fates/R/version.R
  models/gday/R/version.R
  models/jules/R/version.R
  models/ldndc/R/version.R
  models/linkages/R/version.R
  models/lpjguess/R/version.R
  models/maat/R/version.R
  models/maespa/R/version.R
  models/preles/R/version.R
  models/sibcasa/R/version.R
  models/sipnet/R/version.R
  models/stics/R/version.R
  models/template/R/version.R
  modules/allometry/R/version.R
  modules/assim.batch/R/version.R
  modules/assim.sequential/R/version.R
  modules/benchmark/R/version.R
  modules/data.atmosphere/R/version.R
  modules/data.land/R/version.R
  modules/data.remote/R/version.R
  modules/emulator/R/version.R
  modules/meta.analysis/R/version.R
  modules/photosynthesis/DESCRIPTION
  modules/photosynthesis/R/version.R
  modules/priors/R/version.R
  modules/rtm/R/version.R
  modules/uncertainty/R/version.R
Labels: Tests, Modules, Base, Models

#3394 Updated VignetteBuilder field to include knitr and rmarkdown
  base/db/DESCRIPTION
  base/qaqc/DESCRIPTION
  base/visualization/DESCRIPTION
  docker/depends/pecan_package_dependencies.csv
  models/biocro/DESCRIPTION
  models/ed/DESCRIPTION
  models/maat/DESCRIPTION
  modules/allometry/DESCRIPTION
  modules/assim.batch/DESCRIPTION
  modules/data.atmosphere/DESCRIPTION
  modules/meta.analysis/DESCRIPTION
  modules/photosynthesis/DESCRIPTION
  modules/priors/DESCRIPTION
  modules/rtm/DESCRIPTION
Labels: Dockerfile, Modules, Base, Models

#3396 Remove obsolete qsub_build.sh script
  scripts/qsub_build.sh
Labels: Scripts

#3397 bump version add write
  .github/workflows/stale.yml
Labels: GitHub Actions
