Repository PecanProject/pecan, pull requests merged in 2024-06, with the labels that each got.

#3300 Remove dependency on `data.atmosphere` from `data.land`
  Makefile.depends
  docker/depends/pecan_package_dependencies.csv
  modules/data.land/DESCRIPTION
  modules/data.land/NEWS.md
  modules/data.land/R/ic_process.R
  modules/data.land/R/soil_process.R
  modules/data.land/R/write_ic.R
  modules/data.land/tests/Rcheck_reference.log
Labels: Dockerfile, Tests, Modules

#3249 Add functions that can extract and update phenological status based on MODIS data and enable monthly SDA
  base/workflow/R/do_conversions.R
  book_source/03_topical_pages/04_R_workflow.Rmd
  models/sipnet/R/model2netcdf.SIPNET.R
  models/sipnet/R/write.configs.SIPNET.R
  models/sipnet/R/write_restart.SIPNET.R
  models/sipnet/man/write.config.SIPNET.Rd
  modules/assim.sequential/R/Analysis_sda_block.R
  modules/assim.sequential/R/Nimble_codes.R
  modules/assim.sequential/R/SDA_OBS_Assembler.R
  modules/assim.sequential/inst/MultiSite-Exs/SDA/Create_Multi_settings.R
  modules/assim.sequential/inst/sda_backup/qianyu(cherry)/pecan_HARV_site.xml
  modules/data.land/R/prepare_pools.R
  modules/data.remote/NAMESPACE
  modules/data.remote/R/extract_phenology_MODIS.R
  modules/data.remote/man/extract_phenology_MODIS.Rd
  modules/uncertainty/R/ensemble.R
Labels: SDA, Tests, Modules, Base, Models, Documentation

#3304 Bump Roxygen to 7.3.1
  Makefile
  base/all/DESCRIPTION
  base/db/DESCRIPTION
  base/logger/DESCRIPTION
  base/qaqc/DESCRIPTION
  base/remote/DESCRIPTION
  base/settings/DESCRIPTION
  base/utils/DESCRIPTION
  base/utils/R/help.R
  base/utils/man/PEcAn.Rd
  base/visualization/DESCRIPTION
  base/workflow/DESCRIPTION
  book_source/02_demos_tutorials_workflows/05_developer_workflows/03_coding_practices/04-roxygen.Rmd
  docker/depends/pecan_package_dependencies.csv
  models/basgra/DESCRIPTION
  models/biocro/DESCRIPTION
  models/cable/DESCRIPTION
  models/clm45/DESCRIPTION
  models/dalec/DESCRIPTION
  models/dvmdostem/DESCRIPTION
  models/ed/DESCRIPTION
  models/fates/DESCRIPTION
  models/gday/DESCRIPTION
  models/jules/DESCRIPTION
  models/ldndc/DESCRIPTION
  models/linkages/DESCRIPTION
  models/lpjguess/DESCRIPTION
  models/maat/DESCRIPTION
  models/maespa/DESCRIPTION
  models/preles/DESCRIPTION
  models/sibcasa/DESCRIPTION
  models/sipnet/DESCRIPTION
  models/stics/DESCRIPTION
  models/template/DESCRIPTION
  modules/allometry/DESCRIPTION
  modules/allometry/R/AllomAve.R
  modules/assim.batch/DESCRIPTION
  modules/assim.batch/R/autoburnin.R
  modules/assim.batch/R/plot.da.R
  modules/assim.sequential/DESCRIPTION
  modules/benchmark/DESCRIPTION
  modules/data.atmosphere/DESCRIPTION
  modules/data.land/DESCRIPTION
  modules/data.remote/DESCRIPTION
  modules/emulator/DESCRIPTION
  modules/meta.analysis/DESCRIPTION
  modules/photosynthesis/DESCRIPTION
  modules/priors/DESCRIPTION
  modules/rtm/DESCRIPTION
  modules/uncertainty/DESCRIPTION
  modules/uncertainty/R/flux_uncertainty.R
  modules/uncertainty/R/plots.R
Labels: Dockerfile, Tests, Modules, Base, Models, Documentation

#3309 Labeler fix
  .github/labeler.yml
  .github/workflows/prlabeler.yml
Labels: Tests, GitHub Actions

#3308 Remove `db.site.lat.lon` function and replace all usages with `query.site`
  modules/data.atmosphere/NAMESPACE
  modules/data.atmosphere/NEWS.md
  modules/data.atmosphere/R/met.process.R
  modules/data.atmosphere/man/db.site.lat.lon.Rd
  modules/data.land/inst/LoadPalEONsites.R
Labels: Tests, Modules

#3313 Remove copyright notice that references outdated license
  base/logger/R/logger.R
  base/logger/tests/testthat/test.logger.R
Labels: Tests, Base

#3297 Unit Testing functions in `do_conversions` sub-workflow
  base/workflow/tests/testthat/test.do_conversions.R
  docker/depends/pecan_package_dependencies.csv
  modules/data.atmosphere/DESCRIPTION
  modules/data.atmosphere/tests/testthat/test.download.raw.met.module.R
  modules/data.atmosphere/tests/testthat/test.met.process.R
Labels: Dockerfile, Tests, Modules, Base

#3315 polishing NEWS files for release
  CHANGELOG.md
  base/db/NEWS.md
  models/ed/NEWS.md
  modules/data.atmosphere/NEWS.md
  modules/data.land/NEWS.md
  modules/emulator/NEWS.md
Labels: Tests, Modules, Base, Models

#3314 build depends fresh if no existing tag to update
  .github/workflows/docker.yml
Labels: Tests, GitHub Actions

#3316 sync release patches to develop
  .github/workflows/docker.yml
  CHANGELOG.md
  README.md
  base/db/NEWS.md
  base/logger/R/logger.R
  base/logger/tests/testthat/test.logger.R
  models/ed/NEWS.md
  modules/data.atmosphere/NEWS.md
  modules/data.land/NEWS.md
  modules/emulator/NEWS.md
Labels: Tests, Modules, Base, Models, Documentation, GitHub Actions

#3320 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Documentation
