Repository PecanProject/pecan, pull requests merged in 2024-07, with the labels that each got.

#3326 Dev intro tweaks
  DEV-INTRO.md
  docker-compose.dev.yml
Labels: Tests, Documentation

#3325 Store PEcAn version history as CSV not Rda
  base/all/data-raw/record_versions.R
  base/all/data/pecan_releases.R
  base/all/data/pecan_releases.csv
  base/all/data/pecan_releases.rda
  base/all/data/pecan_version_history.R
  base/all/data/pecan_version_history.csv
  base/all/data/pecan_version_history.rda
Labels: Tests, Base

#3323 minor cleanup in uncertainty function Roxygen blocks
  modules/data.mining/DESCRIPTION
  modules/uncertainty/R/sensitivity.analysis.R
  modules/uncertainty/man/get.elasticity.Rd
  modules/uncertainty/man/get.sensitivity.Rd
  modules/uncertainty/man/kurtosis.Rd
  modules/uncertainty/man/sa.splinefun.Rd
  modules/uncertainty/man/sd.var.Rd
  modules/uncertainty/man/sensitivity.analysis.Rd
  modules/uncertainty/man/spline.truncate.Rd
Labels: Modules

#3318 Fixed possible arg discrepancy
  modules/assim.sequential/inst/covariates.R
Labels: Modules

#3312 Combine multiple `PEcAn.db` calls in a single query
  modules/data.atmosphere/R/read.register.R
Labels: Modules

#3302 Pull changes that Hamze made for his PR #2380.
  modules/assim.sequential/NAMESPACE
  modules/assim.sequential/R/Analysis_sda_multiSite.R
  modules/assim.sequential/R/GEF_Helper.R
  modules/assim.sequential/R/Multi_Site_Constructors.R
  modules/assim.sequential/man/tobit_model_censored.Rd
  modules/assim.sequential/tests/Rcheck_reference.log
Labels: Tests, Modules

#3333 relicense PEcAn.{all,SIBCASA,LDNDC} as BSD3
  CHANGELOG.md
  base/all/LICENSE
  base/all/NEWS.md
  models/ldndc/LICENSE
  models/ldndc/NEWS.md
  models/sibcasa/LICENSE
  models/sibcasa/NEWS.md
Labels: Base, Models

#3332 Update NASA DAAC download function to include all DAAC server.
  modules/data.remote/R/NASA_DAAC_download.R
  modules/data.remote/man/NASA_CMR_finder.Rd
  modules/data.remote/man/NASA_DAAC_URL.Rd
  modules/data.remote/man/NASA_DAAC_download.Rd
Labels: Modules

#3334 delete comments with outdated license info
  base/all/tests/testthat.R
  base/all/tests/testthat/test.workflow.R
  models/ldndc/tests/testthat.R
  models/sibcasa/R/met2model.SIBCASA.R
  models/sibcasa/R/model2netcdf.SIBCASA.R
  models/sibcasa/R/write.config.SIBCASA.R
  models/sibcasa/tests/testthat.R
Labels: Tests, Base, Models

#3335 all packages back to dev mode after release
  CHANGELOG.md
  base/all/DESCRIPTION
  base/db/DESCRIPTION
  base/db/NEWS.md
  base/logger/DESCRIPTION
  base/logger/NEWS.md
  base/qaqc/DESCRIPTION
  base/remote/DESCRIPTION
  base/remote/NEWS.md
  base/settings/DESCRIPTION
  base/utils/DESCRIPTION
  base/utils/NEWS.md
  base/visualization/DESCRIPTION
  base/workflow/DESCRIPTION
  base/workflow/NEWS.md
  models/basgra/DESCRIPTION
  models/biocro/DESCRIPTION
  models/cable/DESCRIPTION
  models/clm45/DESCRIPTION
  models/dalec/DESCRIPTION
  models/dvmdostem/DESCRIPTION
  models/ed/DESCRIPTION
  models/ed/NEWS.md
  models/fates/DESCRIPTION
  models/gday/DESCRIPTION
  models/jules/DESCRIPTION
  models/ldndc/DESCRIPTION
  models/linkages/DESCRIPTION
  models/lpjguess/DESCRIPTION
  models/maat/DESCRIPTION
  models/maespa/DESCRIPTION
  models/preles/DESCRIPTION
  models/sibcasa/DESCRIPTION
  models/sipnet/DESCRIPTION
  models/stics/DESCRIPTION
  models/template/DESCRIPTION
  modules/allometry/DESCRIPTION
  modules/assim.batch/DESCRIPTION
  modules/assim.batch/NEWS.md
  modules/assim.sequential/DESCRIPTION
  modules/benchmark/DESCRIPTION
  modules/data.atmosphere/DESCRIPTION
  modules/data.atmosphere/NEWS.md
  modules/data.land/DESCRIPTION
  modules/data.land/NEWS.md
  modules/data.mining/DESCRIPTION
  modules/data.remote/DESCRIPTION
  modules/data.remote/NEWS.md
  modules/emulator/DESCRIPTION
  modules/emulator/NEWS.md
  modules/meta.analysis/DESCRIPTION
  modules/photosynthesis/DESCRIPTION
  modules/photosynthesis/NEWS.md
  modules/priors/DESCRIPTION
  modules/rtm/DESCRIPTION
  modules/uncertainty/DESCRIPTION
  modules/uncertainty/NEWS.md
  web/common.php
Labels: Modules, Base, Models, Website

#3337 relicense QAQC and PEcAn.STICS as BSD3
  CHANGELOG.md
  LICENSE
  base/qaqc/LICENSE
  base/qaqc/R/taylor.plot.R
  base/qaqc/inst/extdata/extdata.R
  base/qaqc/tests/testthat.R
  base/qaqc/tests/testthat/test-taylorplot.R
  base/qaqc/vignettes/function_relationships.Rmd
  base/qaqc/vignettes/module_output.Rmd
  models/stics/LICENSE
  models/stics/R/met2model.STICS.R
  models/stics/R/model2netcdf.STICS.R
  models/stics/R/write.config.STICS.R
  models/stics/tests/testthat.R
Labels: Tests, Base, Models

#3339 Bug fixes for the `MODIS_LAI_prep` function.
  modules/data.remote/R/MODIS_LAI_prep.R
Labels: Modules

#3344 remove version tag from Compose files
  docker-compose.dev.yml
  docker-compose.https.yml
  docker-compose.yml
  docker/docker-compose.example.yml
Labels: Dockerfile

#3317 aggregate.R created
  CHANGELOG.md
  CITATION.cff
  docker/depends/pecan_package_dependencies.csv
  modules/assim.sequential/DESCRIPTION
  modules/assim.sequential/NAMESPACE
  modules/assim.sequential/R/aggregate.R
  modules/assim.sequential/man/aggregate.Rd
  modules/assim.sequential/tests/testthat/test_aggregation.R
  modules/assim.sequential/tests/testthat/test_aggregation/ensemble1.tif
  modules/assim.sequential/tests/testthat/test_aggregation/ensemble2.tif
  modules/assim.sequential/tests/testthat/test_aggregation/ensemble3.tif
  modules/assim.sequential/tests/testthat/test_aggregation/us_states.rds
Labels: Dockerfile, Tests, Modules

#3331 Updates of fates model
  docker-compose.yml
  docker/depends/pecan_package_dependencies.csv
  models/fates/DESCRIPTION
  models/fates/R/met2model.FATES.R
  models/fates/R/model2netcdf.FATES.R
  models/fates/man/met2model.FATES.Rd
  models/fates/man/model2netcdf.FATES.Rd
Labels: Dockerfile, Models

#3347 Roxygen fixes for #3317 and #3331
  models/fates/man/model2netcdf.FATES.Rd
  modules/assim.sequential/R/aggregate.R
  modules/assim.sequential/man/aggregate.Rd
Labels: Modules, Models

#3341 Fix bold formatting in docs
  book_source/03_topical_pages/02_pecan_standards.Rmd
Labels: Type: Documentation, Documentation
