Repository PecanProject/pecan, pull requests merged in 2024-03, with the labels that each got.

#3218 notes/warnings fixes in data.atmosphere package
  docker/depends/pecan_package_dependencies.csv
  models/biocro/R/met2model.BIOCRO.R
  modules/data.atmosphere/DESCRIPTION
  modules/data.atmosphere/NAMESPACE
  modules/data.atmosphere/R/ERA5_met_process.R
  modules/data.atmosphere/R/GEFS_helper_functions.R
  modules/data.atmosphere/R/debias_met_regression.R
  modules/data.atmosphere/R/download.Fluxnet2015.R
  modules/data.atmosphere/R/download.NARR.R
  modules/data.atmosphere/R/download.NARR_site.R
  modules/data.atmosphere/R/download.NEONmet.R
  modules/data.atmosphere/R/download.US_Wlef.R
  modules/data.atmosphere/R/download_noaa_gefs_efi.R
  modules/data.atmosphere/R/downscaling_helper_functions.R
  modules/data.atmosphere/R/extract.nc.module.R
  modules/data.atmosphere/R/extract_ERA5.R
  modules/data.atmosphere/R/half_hour_downscale.R
  modules/data.atmosphere/R/lightME.R
  modules/data.atmosphere/R/load.cfmet.R
  modules/data.atmosphere/R/met.process.R
  modules/data.atmosphere/R/met_temporal_downscale.Gaussian_ensemble.R
  modules/data.atmosphere/R/metgapfill.NOAA_GEFS.R
  modules/data.atmosphere/R/metutils.R
  modules/data.atmosphere/R/tdm_lm_ensemble_sims.R
  modules/data.atmosphere/R/tdm_model_train.R
  modules/data.atmosphere/R/tdm_subdaily_pred.R
  modules/data.atmosphere/R/temporal.downscaling.R
  modules/data.atmosphere/man/cfmet.downscale.daily.Rd
  modules/data.atmosphere/man/cfmet.downscale.subdaily.Rd
  modules/data.atmosphere/man/cfmet.downscale.time.Rd
  modules/data.atmosphere/man/download.Fluxnet2015.Rd
  modules/data.atmosphere/man/download.NEONmet.Rd
  modules/data.atmosphere/man/downscale_one_cfmet_day.Rd
  modules/data.atmosphere/man/get.ncvector.Rd
  modules/data.atmosphere/man/lightME.Rd
  modules/data.atmosphere/man/load.cfmet.Rd
  modules/data.atmosphere/man/qair2rh.Rd
  modules/data.atmosphere/tests/Rcheck_reference.log
  modules/data.atmosphere/tests/testthat/test.cf-downscaling.R
  modules/data.atmosphere/tests/testthat/test.download.NARR.R
  modules/data.atmosphere/tests/testthat/test.load.cfmet.R
Labels: Dockerfile, Tests, Modules, Models

#3276 Update Documentation for cos_solar_zenith_angle Function
  modules/data.atmosphere/R/solar_angle.R
  modules/data.atmosphere/man/cos_solar_zenith_angle.Rd
Labels: Tests, Modules

#3279 Delete some unused test files
  tests/foo
  tests/travis.sipnet_PostgreSQL.xml
  tests/travis.sipnet_Postgres.xml
Labels: Tests

#3281 Fixed Bugs
  .github/workflows/styler-actions.yml
  models/sipnet/R/met2model.SIPNET.R
Labels: Tests, Models, GitHub Actions
