Repository PecanProject/pecan, pull requests merged in 2024-09, with the labels that each got.

#3366 [build] avoid recursive installation of a zillion indirect Suggests
  scripts/confirm_deps.R
Labels: Scripts

#3368 Add noRd to the code
  modules/assim.sequential/R/downscale_function.R
Labels: Modules

#3370 Relicense PEcAn.settings and shiny/SDAdashboard as BSD-3
  CHANGELOG.md
  base/settings/LICENSE
  base/settings/NEWS.md
  base/settings/R/SafeList.R
  base/settings/R/Settings.R
  base/settings/R/addSecrets.R
  base/settings/R/check.all.settings.R
  base/settings/R/clean.settings.R
  base/settings/R/fix.deprecated.settings.R
  base/settings/R/read.settings.R
  base/settings/R/update.settings.R
  base/settings/tests/testthat.R
  base/settings/tests/testthat/test.MultiSettings.class.R
  base/settings/tests/testthat/test.Safelist.class.R
  base/settings/tests/testthat/test.Settings.class.R
  base/settings/tests/testthat/test.fix.deprecated.settings.R
  base/settings/tests/testthat/test.papply.R
  base/settings/tests/testthat/test.read.settings.R
  shiny/SDAdashboard/LICENSE
Labels: Tests, Base

#3348 Remove Browndog
  CHANGELOG.md
  base/db/DESCRIPTION
  base/db/R/convert_input.R
  base/db/man/convert_input.Rd
  base/db/tests/testthat/test.convert_input.R
  base/settings/R/addSecrets.R
  base/settings/man/addSecrets.Rd
  base/settings/tests/testthat/test.addSecrets.R
  base/utils/tests/testthat/data/config.example.php
  base/workflow/R/do_conversions.R
  book_source/02_demos_tutorials_workflows/02_user_demos/05_advanced_user_guide/93_workflow_curl.Rmd
  book_source/02_demos_tutorials_workflows/04_more_web_interface/00_intermediate_users_guide.Rmd
  book_source/02_demos_tutorials_workflows/04_more_web_interface/01_additional_web_config.Rmd
  book_source/03_topical_pages/03_pecan_xml.Rmd
  book_source/03_topical_pages/11_adding_to_pecan.Rmd
  contrib/browndog/README.md
  contrib/browndog/browndog.R
  docker/depends/pecan_package_dependencies.csv
  docker/web/config.docker.php
  modules/assim.sequential/inst/sda_backup/sserbin/R_scripts_2/workflow_metprocess.R
  modules/benchmark/DESCRIPTION
  modules/benchmark/R/load_data.R
  modules/data.atmosphere/NAMESPACE
  modules/data.atmosphere/R/download.raw.met.module.R
  modules/data.atmosphere/R/extract.nc.module.R
  modules/data.atmosphere/R/met.process.R
  modules/data.atmosphere/R/met2cf.module.R
  modules/data.atmosphere/R/met2model.module.R
  modules/data.atmosphere/R/metgapfill.module.R
  modules/data.atmosphere/R/read.register.R
  modules/data.atmosphere/inst/integrationTests/test.download.AmerifluxLBL.R
  modules/data.atmosphere/inst/integrationTests/test.download.CRUNCEP.R
  modules/data.atmosphere/inst/integrationTests/test.download.ERA5.R
  modules/data.atmosphere/inst/scripts/met_ensemble_testing.R
  modules/data.atmosphere/man/browndog.met.Rd
  modules/data.atmosphere/man/met.process.Rd
  modules/data.land/R/ens.veg.module.R
  modules/data.land/R/get_veg_module.R
  modules/data.land/R/put_veg_module.R
  scripts/EFI_metprocess.R
  scripts/workflow.bm.R
  scripts/workflow.pda.R
  shiny/BrownDog/DESCRIPTION
  shiny/BrownDog/LICENSE
  shiny/BrownDog/README.md
  shiny/BrownDog/server.R
  shiny/BrownDog/ui.R
  web/03-inputs.php
  web/04-runpecan.php
  web/05-running.php
  web/07-analysis.php
  web/08-finished.php
  web/config.example.php
  web/js/browndog.js
  web/setups/core.php
  web/setups/page.template.php
Labels: Dockerfile, Tests, Modules, Base, Documentation, Website, Scripts

#3373 Move datapack from Depends to Suggests in data.land
  docker/depends/pecan_package_dependencies.csv
  modules/data.land/DESCRIPTION
  modules/data.land/NEWS.md
  modules/data.land/R/dataone_download.R
  modules/data.land/tests/Rcheck_reference.log
Labels: Dockerfile, Tests, Modules

#3354 start new docker build
  .github/workflows/docker.yml
  CHANGELOG.md
  apps/api/Dockerfile
  docker-compose.yml
  docker/base/Dockerfile
  docker/data/Dockerfile
  docker/depends/Dockerfile
  docker/docs/Dockerfile
  docker/executor/Dockerfile
  docker/models/Dockerfile
  docker/monitor/Dockerfile
  docker/rstudio-nginx/Dockerfile
  docker/web/Dockerfile
  models/ed/Dockerfile
  models/ed/data-raw/include.mk.opt
  models/maespa/Dockerfile
  models/sipnet/Dockerfile
  shiny/dbsync/Dockerfile
Labels: Dockerfile, Models, GitHub Actions, Scripts

#3375 rename master to main/latest
  .github/workflows/book.yml
  .github/workflows/ci.yml
  .github/workflows/depends.yml
  .github/workflows/docker.yml
  CHANGELOG.md
  CONTRIBUTING.md
  DEV-INTRO.md
  README.md
  book_source/02_demos_tutorials_workflows/01_install_pecan.Rmd
  book_source/02_demos_tutorials_workflows/02_user_demos/01_introductions_user.Rmd
  book_source/02_demos_tutorials_workflows/03_web_workflow.Rmd
  book_source/02_demos_tutorials_workflows/05_developer_workflows/02_git/01_using-git.Rmd
  book_source/03_topical_pages/03_pecan_xml.Rmd
  book_source/03_topical_pages/05_models/ed.Rmd
  book_source/03_topical_pages/09_standalone_tools.Rmd
  book_source/03_topical_pages/11_adding_to_pecan.Rmd
  book_source/03_topical_pages/12_troubleshooting-pecan.Rmd
  book_source/03_topical_pages/92_workflow_modules.Rmd
  book_source/03_topical_pages/93_installation/03_install_OS/05_install_BETY.Rmd
  book_source/03_topical_pages/94_docker/02_quickstart.Rmd
  book_source/04_appendix/03_courses_taught.Rmd
  docker.sh
  documentation/index_vm.html
  documentation/tutorials/01_Demo_Basic_Run/Demo01.Rmd
  documentation/tutorials/02_Demo_Uncertainty_Analysis/Demo02.Rmd
  documentation/tutorials/MCMC/MCMC_Concepts.Rmd
  documentation/tutorials/deploy.sh
  models/biocro/R/model2netcdf.BIOCRO.R
  models/maespa/R/write.config.MAESPA.R
  models/sibcasa/R/met2model.SIBCASA.R
  models/template/R/met2model.MODEL.R
  modules/assim.sequential/inst/NEFI/README.html
  modules/data.atmosphere/README.md
  modules/data.atmosphere/inst/scripts/cruncep/README.md
  modules/data.atmosphere/inst/scripts/ncep/README.md
  modules/data.atmosphere/vignettes/ameriflux_demo.Rmd
  modules/data.remote/inst/RpTools/RpTools/biophys_xarray.py
  modules/priors/vignettes/priors_demo.Rmd
  modules/uncertainty/R/ensemble.R
  modules/uncertainty/man/write.ensemble.configs.Rd
  release.sh
  web/02-modelsite.php
  web/07-analysis.php
  web/08-finished.php
  web/common.php
Labels: Modules, Models, Documentation, GitHub Actions, Website

#3378 Fix broken link to met-data documentation
  book_source/03_topical_pages/02_pecan_standards.Rmd
  modules/data.atmosphere/README.md
Labels: Type: Documentation, Modules, Documentation

#3379 another broken link
  book_source/03_topical_pages/92_workflow_modules.Rmd
Labels: Documentation

#3376 Fix broken link to code of conduct CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Documentation

#3377 [docker] health check fixes
  docker-compose.yml
  docker/data/Dockerfile
  docker/docs/Dockerfile
  shiny/dbsync/Dockerfile
Labels: Dockerfile

#3384 manually updated docs that should have gone with e31bc0aa6bd0d461b776…
  modules/uncertainty/man/read.sa.output.Rd
Labels: Modules

#3380 Fix book build
  .github/workflows/book.yml
Labels: GitHub Actions

#3385 Update 04_Installing-PEcAn-OSX.Rmd
  book_source/03_topical_pages/93_installation/03_install_OS/04_Installing-PEcAn-OSX.Rmd
Labels: Documentation

#3319 Refactor `met.process` and `dbfiles`
  base/db/R/dbfiles.R
  modules/data.atmosphere/R/met.process.R
Labels: Modules, Base

#3306 Integration Testing for `do_conversions` workflow
  .github/workflows/download-met-data.yml
  tests/met_download_settings/docker.CRUNCEP.xml
  tests/test_met_downloads.R
Labels: Tests, GitHub Actions, Website
