Repository PecanProject/pecan, pull requests merged in 2024-08, with the labels that each got.

#3351 typo in depends action
  .github/workflows/depends.yml
Labels: GitHub Actions

#3298 Unit Testing functions in `meta-analysis` sub-workflow
  book_source/03_topical_pages/94_docker/04_models.Rmd
  docker/depends/pecan_package_dependencies.csv
  modules/meta.analysis/DESCRIPTION
  modules/meta.analysis/R/meta.analysis.R
  modules/meta.analysis/R/rename_jags_columns.R
  modules/meta.analysis/R/run.meta.analysis.R
  modules/meta.analysis/man/pecan.ma.Rd
  modules/meta.analysis/man/rename_jags_columns.Rd
  modules/meta.analysis/man/run.meta.analysis.Rd
  modules/meta.analysis/tests/testthat/test.jagify.R
  modules/meta.analysis/tests/testthat/test.run.meta.analysis.R
Labels: Type: Documentation, Dockerfile, Tests, Modules, Documentation

#3321 Add Preprocess Function for Data Cleaning and Validation
  docker/depends/pecan_package_dependencies.csv
  modules/assim.sequential/DESCRIPTION
  modules/assim.sequential/R/downscale_function.R
  modules/assim.sequential/man/NA_downscale.Rd
  modules/assim.sequential/man/SDA_downscale.Rd
  modules/assim.sequential/man/SDA_downscale_metrics.Rd
  modules/assim.sequential/man/SDA_downscale_preprocess.Rd
Labels: Dockerfile, Modules

#3352 make a named volume for the Bety logs mountpoint
  docker-compose.prod.yml
  docker-compose.yml
Labels: Topic: Docker

#3355 Update assim.seq NAMESPACE
  modules/assim.sequential/NAMESPACE
Labels: Modules

#3356 Enhance CNN architecture and training for climate data downscaling
  modules/assim.sequential/R/downscale_function.R
Labels: Modules

#3353 update links to sipnet repo in model-info.json
  models/sipnet/model_info.json
  scripts/Makefile.depends
Labels: Models, Scripts

#3359 Update `DEV-INTRO.md`
  DEV-INTRO.md
Labels: Tests, Base, Documentation

#3357 Enhance CNN Model with L2 Regularization, K-Fold CV, and Ensemble Techniques
  modules/assim.sequential/R/downscale_function.R
Labels: Modules

#3362 Update create_folds -> .create_folds
  modules/assim.sequential/R/downscale_function.R
Labels: Modules

#3363 Relicense remote, workflow, data.mining, global-sensitivity as BSD3
  CHANGELOG.md
  base/remote/LICENSE
  base/remote/NEWS.md
  base/remote/R/fqdn.R
  base/remote/R/start.model.runs.R
  base/remote/tests/testthat/test.localhost.R
  base/workflow/LICENSE
  base/workflow/NEWS.md
  base/workflow/R/start_model_runs.R
  modules/data.mining/LICENSE
  modules/data.mining/NEWS.md
  modules/data.mining/tests/testthat.R
  shiny/global-sensitivity/LICENSE
Labels: Tests, Modules, Base
