Repository PecanProject/pecan, pull requests merged in 2025-01, with the labels that each got.

#3414 Add Doxygen to sipnet action
  .github/workflows/sipnet.yml
Labels: GitHub Actions

#3398 Draft: Workflow improvements to run independently of BETY
  base/remote/R/check_qsub_status.R
  base/workflow/R/run.write.configs.R
  base/workflow/R/runModule.run.write.configs.R
  base/workflow/R/start_model_runs.R
  modules/uncertainty/R/ensemble.R
  modules/uncertainty/R/get.parameter.samples.R
Labels: Modules, Base

#3405 Update Github repository push access
  .github/workflows/book.yml
Labels: GitHub Actions

#3409 SoilGrids: avoid zero-row result when no sites are NA (+ clean up df names)
  modules/data.land/NEWS.md
  modules/data.land/R/soilgrids_soc_extraction.R
Labels: Modules

#3418 Allow relative paths in Sipnet run script
  models/sipnet/inst/template.job
Labels: Models

#3417 update outdated reference.log for resolved warnings
  base/db/tests/Rcheck_reference.log
Labels: Base

#3420 [chore] bump upload-artifact version
  .github/workflows/book.yml
Labels: GitHub Actions

#3403 Fix: Redirect external links to open in a new tab
  book_source/index.Rmd
Labels: Documentation
