Repository PecanProject/pecan, pull requests merged in 2025-08, with the labels that each got.

#3536 BADM IC tweaks
  CHANGELOG.md
  modules/data.land/NEWS.md
  modules/data.land/R/IC_BADM_Utilities.R
  modules/data.land/tests/testthat/test-IC_BADM_Utilities.R
Labels: Tests, Modules

#3559 added functions for converting fertilizer type and amounts to applica…
  modules/data.land/NAMESPACE
  modules/data.land/R/data.R
  modules/data.land/R/look_up_fertilizer_components.R
  modules/data.land/data-raw/create_fertilizer_data.R
  modules/data.land/data/fertilizer_composition_data.rda
  modules/data.land/man/fertilizer_composition_data.Rd
  modules/data.land/man/look_up_fertilizer_components.Rd
  modules/data.land/tests/testthat/test.look_up_fertilizer_components.R
Labels: Tests, Modules

#3537 Add function to data.land that will clip a raster file, mask it, and then write it out to a new file
  CHANGELOG.md
  docker/depends/pecan_package_dependencies.csv
  modules/data.land/DESCRIPTION
  modules/data.land/NAMESPACE
  modules/data.land/NEWS.md
  modules/data.land/R/clip_and_save_raster_file.R
  modules/data.land/man/clip_and_save_raster_file.Rd
  modules/data.land/tests/testthat/test-clip_and_save_raster_file.R
  modules/data.land/tests/testthat/test-match_species_id.R
Labels: Dockerfile, Tests, Modules

#3578 fix(biocro): handle met data end time in met2model.BIOCRO to prevent run end date error
  models/biocro/tests/testthat/test.met2model.R
  modules/data.atmosphere/R/load.cfmet.R
  modules/data.atmosphere/tests/testthat/test.load.cfmet.R
Labels: Tests, Modules, Models

#3506 Fix "external pointer is not valid" error and improve output handling in soilgrids_soilC_extract()
  CHANGELOG.md
  modules/data.land/NEWS.md
  modules/data.land/R/soilgrids_soc_extraction.R
Labels: Modules

#3596 added standard names for soil temp, soil moisture, and CO2
  base/utils/data/standard_vars.csv
Labels: Base

#3598 Quick update to #3597: export and document t2es alias; add venv/ to .Rbuildignore
  modules/data.atmosphere/.Rbuildignore
  modules/data.atmosphere/NAMESPACE
  modules/data.atmosphere/R/metutils.R
  modules/data.atmosphere/man/sat_vapor_pressure.Rd
  modules/data.land/.Rbuildignore
Labels: Modules

#3600 Revert to PEcAn.utils::ud_convert
  modules/data.atmosphere/R/metutils.R
Labels: Modules

#3510 fix: "/pkgdoc/package_documentation/pkgdocs": not found
  .github/workflows/pkgdown.yml
  base/all/DESCRIPTION
  base/db/DESCRIPTION
  base/db/man/PEcAn.DB-package.Rd
  base/logger/DESCRIPTION
  base/qaqc/DESCRIPTION
  base/remote/DESCRIPTION
  base/settings/DESCRIPTION
  base/utils/DESCRIPTION
  base/utils/man/PEcAn.Rd
  base/visualization/DESCRIPTION
  base/workflow/DESCRIPTION
  docker/docs/Dockerfile
  models/basgra/DESCRIPTION
  models/biocro/DESCRIPTION
  models/cable/DESCRIPTION
  models/clm45/DESCRIPTION
  models/dalec/DESCRIPTION
  models/dvmdostem/DESCRIPTION
  models/ed/DESCRIPTION
  models/fates/DESCRIPTION
  models/gday/DESCRIPTION
  models/jules/DESCRIPTION
  models/ldndc/DESCRIPTION
  models/linkages/DESCRIPTION
  models/lpjguess/DESCRIPTION
  models/maat/DESCRIPTION
  models/maespa/DESCRIPTION
  models/preles/DESCRIPTION
  models/sibcasa/DESCRIPTION
  models/sipnet/DESCRIPTION
  models/stics/DESCRIPTION
  models/template/DESCRIPTION
  modules/allometry/DESCRIPTION
  modules/assim.batch/DESCRIPTION
  modules/assim.sequential/DESCRIPTION
  modules/benchmark/DESCRIPTION
  modules/data.atmosphere/DESCRIPTION
  modules/data.land/DESCRIPTION
  modules/data.mining/DESCRIPTION
  modules/data.remote/DESCRIPTION
  modules/emulator/DESCRIPTION
  modules/emulator/man/PEcAn.emulator-package.Rd
  modules/meta.analysis/DESCRIPTION
  modules/photosynthesis/DESCRIPTION
  modules/priors/DESCRIPTION
  modules/rtm/DESCRIPTION
  modules/uncertainty/DESCRIPTION
  scripts/build_pkgdown.R
Labels: Dockerfile, Modules, Base, Models, GitHub Actions, Scripts

#3531 DEMO-1 quarto notebook (run workflow from pecan.xml)
  .gitignore
  CHANGELOG.md
  documentation/tutorials/Demo_1_Basic_Run/download_sipnet.R
  documentation/tutorials/Demo_1_Basic_Run/pecan.xml
  documentation/tutorials/Demo_1_Basic_Run/pft/temperate.coniferous/prior.distns.Rdata
  documentation/tutorials/Demo_1_Basic_Run/run_pecan.qmd
Labels: Base, Documentation

#3604 Add ERA5 variable mapping and standardize units
  base/utils/data/standard_vars.csv
  modules/data.atmosphere/R/pecan_standard_met_table.R
  modules/data.atmosphere/man/pecan_standard_met_table.Rd
Labels: Modules, Base

#3577 CI: add workflow for Quarto Notebook rendering
  .github/workflows/render-quarto.yml
Labels: GitHub Actions

#3535 joint_ensemble sampling
  base/workflow/NEWS.md
  base/workflow/R/run.write.configs.R
  base/workflow/R/runModule.run.write.configs.R
  base/workflow/man/run.write.configs.Rd
  base/workflow/man/runModule.run.write.configs.Rd
  book_source/03_topical_pages/03_pecan_xml.Rmd
  models/sipnet/R/write.configs.SIPNET.R
  modules/uncertainty/NAMESPACE
  modules/uncertainty/R/ensemble.R
  modules/uncertainty/R/generate_joint_ensemble_design.R
  modules/uncertainty/man/generate_joint_ensemble_design.Rd
  modules/uncertainty/man/get.ensemble.samples.Rd
  modules/uncertainty/man/write.ensemble.configs.Rd
  modules/uncertainty/tests/testthat/test_ensemble.R
  web/workflow.R
Labels: Dockerfile, Tests, Modules, Base, Models, Documentation, Website
