Repository PecanProject/pecan, pull requests merged in 2025-09, with the labels that each got.

#3590 enhance met downscaling with adding a support for soil temp, RH, soil moisture, PPFD and refactored to address other critical issues
  CHANGELOG.md
  modules/data.atmosphere/NEWS.md
  modules/data.atmosphere/R/met_temporal_downscale.Gaussian_ensemble.R
  modules/data.atmosphere/man/met_temporal_downscale.Gaussian_ensemble.Rd
  modules/data.atmosphere/tests/testthat/test.met_temporal_downscale.Gaussian_ensemble.R
Labels: Tests, Modules

#3534 [WIP] gSSURGO Enhancements: SOC Integration, enhanced XML Parsing, and Ensemble improvements
  CHANGELOG.md
  CITATION.cff
  modules/data.land/NAMESPACE
  modules/data.land/NEWS.md
  modules/data.land/R/extract_soil_nc.R
  modules/data.land/R/gSSURGO_Query.R
  modules/data.land/R/soil2netcdf.R
  modules/data.land/R/soil_process.R
  modules/data.land/R/soil_utils.R
  modules/data.land/man/extract_soil_gssurgo.Rd
  modules/data.land/man/gSSURGO.Query.Rd
  modules/data.land/man/om2soc.Rd
  modules/data.land/man/soc2ocs.Rd
  modules/data.land/man/soil.units.Rd
  modules/data.land/tests/testthat/test-extract_soil_nc.R
Labels: Tests, Modules

#3586 Add AmeriFlux meteorological data processing and ensemble generation with ERA5 fallback
  CHANGELOG.md
  modules/data.atmosphere/NAMESPACE
  modules/data.atmosphere/NEWS.md
  modules/data.atmosphere/R/Ameriflux_met_ensemble.R
  modules/data.atmosphere/man/AmeriFlux_met_ensemble.Rd
Labels: Dockerfile, Modules

#3617 Improve the `merge_image_tiles` function.
  modules/data.remote/R/merge_image_tiles.R
  modules/data.remote/man/gdal_conversion.Rd
  modules/data.remote/man/merge_image_tiles.Rd
Labels: Modules

#3612 Sobol sensitivity analysis (WIP)
  base/workflow/R/run.write.configs.R
  base/workflow/R/runModule.run.write.configs.R
  base/workflow/man/run.write.configs.Rd
  docker/depends/pecan_package_dependencies.csv
  modules/uncertainty/DESCRIPTION
  modules/uncertainty/NAMESPACE
  modules/uncertainty/R/compute_sobol_indices.R
  modules/uncertainty/R/ensemble.R
  modules/uncertainty/R/generate_joint_ensemble_design.R
  modules/uncertainty/R/get.parameter.samples.R
  modules/uncertainty/inst/sobol/sobol_analysis.R
  modules/uncertainty/man/compute_sobol_indices.Rd
  modules/uncertainty/man/generate_joint_ensemble_design.Rd
  modules/uncertainty/man/get.parameter.samples.Rd
  modules/uncertainty/man/input.ens.gen.Rd
  modules/uncertainty/man/write.ensemble.configs.Rd
  modules/uncertainty/tests/testthat/test_ensemble.R
  web/workflow.R
Labels: Dockerfile, Tests, Modules, Base, Website, Web Frontend

#3620 Adding functions to merge netCDF files from pecan model outputs.
  CHANGELOG.md
  base/utils/DESCRIPTION
  base/utils/NAMESPACE
  base/utils/R/combine_model_netcdf.R
  base/utils/man/extract_nc_sda.Rd
  base/utils/man/nc_merge_all_sites_by_year.Rd
  base/utils/man/nc_merge_single_site.Rd
  base/utils/tests/testthat/data/ensemble_fixtures/ENS-00001-e968e9c8f8574cb2/2019.nc
  base/utils/tests/testthat/data/ensemble_fixtures/ENS-00001-e968e9c8f8574cb2/2020.nc
  base/utils/tests/testthat/data/ensemble_fixtures/ENS-00001-ebb783e86d2ac6fb/2019.nc
  base/utils/tests/testthat/data/ensemble_fixtures/ENS-00001-ebb783e86d2ac6fb/2020.nc
  base/utils/tests/testthat/data/ensemble_fixtures/ENS-00002-e968e9c8f8574cb2/2019.nc
  base/utils/tests/testthat/data/ensemble_fixtures/ENS-00002-e968e9c8f8574cb2/2020.nc
  base/utils/tests/testthat/data/ensemble_fixtures/ENS-00002-ebb783e86d2ac6fb/2019.nc
  base/utils/tests/testthat/data/ensemble_fixtures/ENS-00002-ebb783e86d2ac6fb/2020.nc
  base/utils/tests/testthat/data/ensemble_fixtures/make_ensemble_fixtures.sh
  base/utils/tests/testthat/test-combine_model_netcdf.R
  docker/depends/pecan_package_dependencies.csv
Labels: Dockerfile, Tests, Modules, Base

#3616 Keep using *.nc.var in web and API
  CHANGELOG.md
  apps/api/R/runs.R
  web/04-runpecan.php
  web/workflow.R
Labels: Website, Web Frontend
