Repository PecanProject/pecan, pull requests merged in 2025-06, with the labels that each got.

#3518 NEON soil validation
  modules/data.mining/inst/NEON_soils/soil_resp_markdown.Rmd
  modules/data.mining/inst/NEON_soils/soilcarbon_validation.Rmd
Labels: Modules

#3546 Correct XML error when writing MultiSettings with only one site
  base/settings/DESCRIPTION
  base/settings/NEWS.md
  base/settings/R/MultiSettings.R
  base/settings/tests/testthat/test.MultiSettings.class.R
Labels: Tests, Base

#3450 Add the downscale functions that works for North America SDA outputs.
  CHANGELOG.md
  docker/depends/pecan_package_dependencies.csv
  modules/assim.sequential/DESCRIPTION
  modules/assim.sequential/NAMESPACE
  modules/assim.sequential/R/SDA_parallel_downscale.R
  modules/assim.sequential/inst/anchor/NA_downscale_script.R
  modules/assim.sequential/man/downscale_main.Rd
  modules/assim.sequential/man/downscale_qsub_main.Rd
  modules/assim.sequential/man/parallel_prediction.Rd
  modules/assim.sequential/man/parallel_train.Rd
  modules/assim.sequential/man/pecan_settings_2_pts.Rd
  modules/assim.sequential/man/prepare_train_dat.Rd
  modules/assim.sequential/man/stack_covariates_2_df.Rd
  modules/assim.sequential/man/stack_covariates_2_geotiff.Rd
  modules/data.atmosphere/NAMESPACE
  modules/data.atmosphere/R/average_ERA5.R
  modules/data.atmosphere/man/Average_ERA5_2_GeoTIFF.Rd
Labels: Dockerfile, Modules

#3540 Update the NASA_DAAC_download function to write the setup credentials.
  docker/depends/pecan_package_dependencies.csv
  modules/data.remote/DESCRIPTION
  modules/data.remote/R/GEDI_AGB_prep.R
  modules/data.remote/R/NASA_DAAC_download.R
  modules/data.remote/man/DAAC_Set_Credential.Rd
  modules/data.remote/man/GEDI_AGB_prep.Rd
  modules/data.remote/man/NASA_DAAC_download.Rd
  modules/data.remote/man/getnetrc.Rd
Labels: Dockerfile, Modules
