Repository PecanProject/pecan, pull requests merged in 2025-07, with the labels that each got.

#3562 Update documentation/README.md
  documentation/README.md
Labels: Type: Documentation, Documentation

#3566 [ci] Provide clim file for Sipnet test run in-house
  .github/workflows/sipnet.yml
  models/sipnet/inst/niwot.clim
Labels: Models, GitHub Actions

#3496 Fix #3269: Replace broken and outdated URLs in data.atmosphere module
  modules/data.atmosphere/README.md
  modules/data.atmosphere/vignettes/ameriflux_demo.Rmd
Labels: Modules, Scripts

#3555 refactor: query.site use in ic_process.R
  modules/data.land/R/ic_process.R
Labels: Modules

#3571 removed dummy test from sipnet package
  models/sipnet/tests/testthat/test.dummy.R
Labels: Tests, Models

#3572 Update Remote Sensing download functions
  modules/data.remote/R/GEDI_AGB_prep.R
  modules/data.remote/R/MODIS_LAI_prep.R
  modules/data.remote/R/NASA_DAAC_download.R
  modules/data.remote/R/SMAP_SMP_prep.R
  modules/data.remote/man/NASA_DAAC_download.Rd
  modules/data.remote/man/Prep.MODIS.CSV.from.DAAC.Rd
  modules/data.remote/man/Prep.SMAP.CSV.from.DAAC.Rd
Labels: Modules

#3573 Add the merge_image_tiles function.
  CHANGELOG.md
  modules/data.remote/NAMESPACE
  modules/data.remote/R/merge_image_tiles.R
  modules/data.remote/man/merge_image_tiles.Rd
Labels: Modules

#3575 removed redundant parameter
  modules/data.land/DESCRIPTION
  modules/data.land/NEWS.md
  modules/data.land/R/ic_process.R
  modules/data.land/R/put_veg_module.R
  modules/data.land/man/put_veg_module.Rd
Labels: Modules

#3585 Add the `gdal_conversion` function for remote sensing image conversion using GDAL utility.
  CHANGELOG.md
  modules/assim.sequential/inst/anchor/NA_downscale_script.R
  modules/data.remote/NAMESPACE
  modules/data.remote/R/merge_image_tiles.R
  modules/data.remote/man/gdal_conversion.Rd
  modules/data.remote/man/gdal_translate.Rd
  modules/data.remote/man/get_subdatasets.Rd
Labels: Dockerfile, Modules
