Repository PecanProject/pecan, pull requests merged in 2025-04, with the labels that each got.

#3499 [rtm] avoid hangs during vignette build
  docker/depends/pecan_package_dependencies.csv
  modules/rtm/.Rbuildignore
  modules/rtm/DESCRIPTION
  modules/rtm/R/invert.auto.R
  modules/rtm/R/invert.custom.R
  modules/rtm/tests/Rcheck_reference.log
  modules/rtm/vignettes/pecanrtm.vignette.Rmd
Labels: Dockerfile, Tests, Modules, Base

#3503 undeclared dependencies in base/settings
  base/settings/R/inst/tests/test.xml
  base/settings/R/read.settings.R
  base/settings/man/read.settings.Rd
Labels: Tests, Base

#3502 fixed links to redirect
  book_source/02_demos_tutorials_workflows/02_user_demos/01_introductions_user.Rmd
Labels: Documentation

#3473 Update GEDI AGB preparation functions.
  docker/depends/pecan_deps_from_github.txt
  docker/depends/pecan_package_dependencies.csv
  modules/data.remote/DESCRIPTION
  modules/data.remote/NAMESPACE
  modules/data.remote/R/GEDI_AGB_prep.R
  modules/data.remote/man/GEDI_AGB_download.Rd
  modules/data.remote/man/GEDI_AGB_extract.Rd
  modules/data.remote/man/GEDI_AGB_plot.Rd
  modules/data.remote/man/GEDI_AGB_prep.Rd
  modules/data.remote/man/GEDI_L4A_2_mean_var.Rd
  modules/data.remote/man/GEDI_L4A_2_mean_var.batch.Rd
  modules/data.remote/man/GEDI_L4A_Finder.Rd
  modules/data.remote/man/GEDI_L4A_Finder_batch.Rd
  modules/data.remote/man/getnetrc.Rd
  modules/data.remote/man/l4_download.Rd
Labels: Dockerfile, Modules

#3345 [Integration Testing] PEcAn Docker Stack Run : Single Site, Single Model
  .github/workflows/docker-stack-sipnet.yml
  tests/docker-ghaction.sipnet.xml
Labels: Tests, GitHub Actions
