Repository PecanProject/pecan, pull requests merged in 2025-02, with the labels that each got.

#3419 take deciduous status from fracLeafFall instead of PFT name + handle missing database$bety$write
  CHANGELOG.md
  base/settings/R/check.all.settings.R
  base/settings/tests/testthat/test.check.all.settings.R
  base/workflow/NEWS.md
  base/workflow/R/run.write.configs.R
  base/workflow/R/runModule.get.trait.data.R
  base/workflow/R/runModule.run.write.configs.R
  base/workflow/R/start_model_runs.R
  models/sipnet/NEWS.md
  models/sipnet/R/write.configs.SIPNET.R
  modules/uncertainty/NAMESPACE
  modules/uncertainty/R/get.parameter.samples.R
Labels: Tests, Modules, Base, Models

#3429 SM_CDS: fix for "Error in do_next$reply : $ operator is invalid for atomic vectors"
  modules/data.land/R/download.SM_CDS.R
Labels: Modules

#3428 only abbreviate siteid if numeric and over a billion
  models/fates/R/write.configs.FATES.R
  models/stics/R/write.config.STICS.R
  modules/data.atmosphere/R/debias.met.R
  modules/data.atmosphere/R/download.GLDAS.R
  modules/data.atmosphere/R/download.MACA.R
  modules/data.atmosphere/R/download.MsTMIP_NARR.R
  modules/data.atmosphere/R/download.NLDAS.R
  modules/data.land/R/fia2ED.R
  modules/data.land/R/ic_process.R
  modules/data.land/R/pool_ic_list2netcdf.R
  modules/data.land/R/soil_process.R
Labels: Modules, Models

#3421 Fix "No Visible Binding for Global Variable" Warnings in lpjguess
  models/lpjguess/R/model2netcdf.LPJGUESS.R
  models/lpjguess/R/readStateBinary.LPJGUESS.R
  models/lpjguess/R/write.config.LPJGUESS.R
  models/lpjguess/tests/Rcheck_reference.log
Labels: Tests, Models

#2660 LPJ-GUESS SDA Couplers
  .gitignore
  docker/depends/pecan_package_dependencies.csv
  models/lpjguess/DESCRIPTION
  models/lpjguess/NAMESPACE
  models/lpjguess/R/RcppExports.R
  models/lpjguess/R/adjust.biomass.LPJGUESS.R
  models/lpjguess/R/adjust.density.LPJGUESS.R
  models/lpjguess/R/allocation.LPJGUESS.R
  models/lpjguess/R/allometry.LPJGUESS.R
  models/lpjguess/R/calculateGridcellVariablePerPFT.LPJGUESS.R
  models/lpjguess/R/met2model.LPJGUESS.R
  models/lpjguess/R/read_restart.LPJGUESS.R
  models/lpjguess/R/read_state.R
  models/lpjguess/R/split_inputs.LPJGUESS.R
  models/lpjguess/R/update.state.LPJGUESS.R
  models/lpjguess/R/write.config.LPJGUESS.R
  models/lpjguess/inst/guess.PalEON.cpp
  models/lpjguess/inst/guess.PalEON.h
  models/lpjguess/inst/lpjguess_params.Rdata
  models/lpjguess/inst/parameters.PalEON.h
  models/lpjguess/inst/pecan.ins
  models/lpjguess/inst/register.LPJGUESS.xml
  models/lpjguess/inst/template.ins
  models/lpjguess/man/adjust.biomass.LPJGUESS.Rd
  models/lpjguess/man/adjust.density.LPJGUESS.Rd
  models/lpjguess/man/allometry.Rd
  models/lpjguess/man/calculateGridcellVariablePerPFT.Rd
  models/lpjguess/man/find_closing.Rd
  models/lpjguess/man/find_stream_size.Rd
  models/lpjguess/man/find_stream_type.Rd
  models/lpjguess/man/find_stream_var.Rd
  models/lpjguess/man/read_binary_LPJGUESS.Rd
  models/lpjguess/man/read_state.Rd
  models/lpjguess/man/serialize_starts_ends.Rd
  models/lpjguess/man/split_inputs.LPJGUESS.Rd
  models/lpjguess/man/update_state_LPJGUESS.Rd
  models/lpjguess/man/write.config.LPJGUESS.Rd
  models/lpjguess/man/write.insfile.LPJGUESS.Rd
  models/lpjguess/src/RcppExports.cpp
  models/lpjguess/src/allocation.LPJGUESS.cpp
Labels: Status: Stale, Dockerfile, Models

#3433 Take `traits` dependency from Github instead of CRAN
  docker/depends/pecan_deps_from_github.txt
  modules/data.land/DESCRIPTION
Labels: Dockerfile, Modules

#3430 Add make help
  CHANGELOG.md
  Makefile
  book_source/02_demos_tutorials_workflows/05_developer_workflows/01_update_pecan_code.Rmd
Labels: Documentation

#3437 fix:updated Rcheck_reference.log in settings package
  base/settings/tests/Rcheck_reference.log
Labels: Base

#3441 install python3-pika using apt
  .github/workflows/docker-build-image.yml
  CHANGELOG.md
  docker/executor/Dockerfile
  docker/models/Dockerfile
Labels: Dockerfile, GitHub Actions

#3444 Tag Docker images with R version as well as branch
  .github/workflows/docker-build-image.yml
Labels: GitHub Actions

#3443 add Betsy as author of benchmarks!
  modules/benchmark/DESCRIPTION
Labels: Modules

#3442 Fix : Linkages for no visible bindings warnings
  models/linkages/R/model2netcdf.LINKAGES.R
  models/linkages/R/write_restart.LINKAGES.R
  models/linkages/tests/Rcheck_reference.log
Labels: Tests, Models

#3448 Build more r versions
  .github/workflows/book.yml
  .github/workflows/check.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/docker.yml
  .github/workflows/download-met-data.yml
  .github/workflows/sipnet.yml
  .github/workflows/test.yml
Labels: GitHub Actions

#3453 Remove unused ed deps
  docker/depends/pecan_package_dependencies.csv
  models/ed/DESCRIPTION
Labels: Dockerfile, Models

#3460 Integrate matt changes
  models/lpjguess/R/adjust.biomass.LPJGUESS.R
  models/lpjguess/R/calculateGridcellVariablePerPFT.LPJGUESS.R
  models/lpjguess/R/read_state.R
  models/lpjguess/R/update.state.LPJGUESS.R
  models/lpjguess/man/AbvGrndWood.Rd
  models/lpjguess/man/TotalCarbon.Rd
  models/lpjguess/man/adjust.biomass.LPJGUESS.Rd
  models/lpjguess/man/calculateGridcellVariablePerPFT.Rd
  models/lpjguess/man/update_state_LPJGUESS.Rd
Labels: Models

#3461 fix: moved get.da.growth.R and get.da.data.R to inst folder
  modules/assim.batch/inst/get.da.data.R
  modules/assim.batch/inst/get.da.data.growth.R
Labels: Modules

#3459 Lpjguess mac compile
  models/lpjguess/src/allocation.LPJGUESS.cpp
Labels: Models
