Repository PecanProject/pecan, pull requests merged in 2025-03, with the labels that each got.

#3464 Avoid bottleneck from duplicating settings during sublist extraction
  base/settings/R/MultiSettings.R
Labels: Base

#3463 Gh 2758 fix tidyverse
  docker/depends/pecan_package_dependencies.csv
  models/sipnet/DESCRIPTION
  models/sipnet/NAMESPACE
  models/sipnet/R/model2netcdf.SIPNET.R
  models/sipnet/R/split_inputs.SIPNET.R
  models/sipnet/tests/Rcheck_reference.log
Labels: Dockerfile, Tests, Modules, Models

#3449 Update Variables for `leaf_phenology` data extraction
  Makefile.depends
  base/workflow/DESCRIPTION
  base/workflow/R/do_conversions.R
  docker/depends/pecan_package_dependencies.csv
Labels: Dockerfile, Base

#3472 Fix else if syntax error and initialize updated.individual in density adjustment
  models/lpjguess/R/update.state.LPJGUESS.R
Labels: Models

#3474 met2model.SIPNET: Refuse to write NAs
  docker/depends/pecan_package_dependencies.csv
  models/sipnet/DESCRIPTION
  models/sipnet/NEWS.md
  models/sipnet/R/met2model.SIPNET.R
  models/sipnet/man/met2model.SIPNET.Rd
  models/sipnet/tests/testthat/test.met2model.R
Labels: Dockerfile, Tests, Models

#3475 [build] Ignore, for now, warning about RPreles installation failure
  models/preles/tests/Rcheck_reference.log
Labels: Models

#3435 Pre-Built SIPNET Binary for GitHub Actions
  .github/workflows/sipnet.yml
  tests/ghaction.sipnet_PostgreSQL.xml
Labels: Tests, Base, GitHub Actions

#3478 Remove VM instructions from install_pecan
  README.md
  book_source/02_demos_tutorials_workflows/01_install_pecan.Rmd
  book_source/03_topical_pages/01_advanced_vm.Rmd
  book_source/03_topical_pages/12_troubleshooting-pecan.Rmd
  book_source/03_topical_pages/93_installation/01_pecan_vm.Rmd
  book_source/03_topical_pages/94_docker/01_introduction.Rmd
  book_source/03_topical_pages/94_docker/02_quickstart.Rmd
  book_source/03_topical_pages/95_remote_execution.Rmd
  documentation/tutorials/01_Demo_Basic_Run/Demo01.Rmd
Labels: Documentation

#3479 move Preles to build-on-request status
  CHANGELOG.md
  Makefile
  Makefile.depends
  docker/depends/pecan_deps_from_github.txt
  docker/depends/pecan_package_dependencies.csv
  scripts/generate_dependencies.R
Labels: Dockerfile, Scripts

#3481 [CI] Test daily with R 4.4, define default R version one place per file
  .github/workflows/book.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build-image.yml
  .github/workflows/docker.yml
  .github/workflows/download-met-data.yml
Labels: GitHub Actions

#3480 Minimal support for array jobs via <modellauncher>
  CHANGELOG.md
  base/remote/NAMESPACE
  base/remote/NEWS.md
  base/remote/R/check_model_run.R
  base/remote/R/qsub_get_jobid.R
  base/remote/R/start.model.runs.R
  base/remote/R/start_qsub.R
  base/remote/man/start.model.runs.Rd
  base/remote/tests/Rcheck_reference.log
  base/workflow/NEWS.md
  base/workflow/R/start_model_runs.R
  book_source/03_topical_pages/03_pecan_xml.Rmd
  modules/assim.batch/R/pda.bayesian.tools.R
Labels: Tests, Modules, Base, Documentation

#3456 Settings: Set ensemble paths, record additional site parameters
  base/settings/DESCRIPTION
  base/settings/NAMESPACE
  base/settings/NEWS.md
  base/settings/R/MultiSettings.R
  base/settings/R/createMultisiteMultiSettings.r
  base/settings/R/setEnsemblePaths.R
  base/settings/R/write.settings.R
  base/settings/man/build_pathset.Rd
  base/settings/man/createMultiSiteSettings.Rd
  base/settings/man/setEnsemblePaths.Rd
  base/settings/man/write.settings.Rd
  base/settings/tests/testthat/test.createMultisiteMultiSettings.R
  base/settings/tests/testthat/test.setEnsemblePaths.R
  base/settings/tests/testthat/test.write.settings.R
  docker/depends/pecan_package_dependencies.csv
Labels: Dockerfile, Tests, Base

#3487 use R4.4 by default
  .github/workflows/docker-build-image.yml
  .github/workflows/docker.yml
  CHANGELOG.md
  docker/depends/Dockerfile
Labels: Dockerfile, GitHub Actions

#3488 Remove R 4.1 from routine CI
  .github/workflows/ci.yml
Labels: GitHub Actions

#3490 fix: blank tutorial page in documentation
  book_source/02_demos_tutorials_workflows/02_user_demos/01_introductions_user.Rmd
Labels: Documentation

#3447 Adding the feature of ERA5 download function using the CDS API
  CHANGELOG.md
  docker/depends/pecan_package_dependencies.csv
  modules/data.atmosphere/DESCRIPTION
  modules/data.atmosphere/NAMESPACE
  modules/data.atmosphere/R/ERA5_download.R
  modules/data.atmosphere/R/ERA5_met_process.R
  modules/data.atmosphere/R/download.ERA5.R
  modules/data.atmosphere/inst/ERA5/ERA5_NA_download.R
  modules/data.atmosphere/man/download.ERA5.old.Rd
  modules/data.atmosphere/man/download.ERA5_cds.Rd
Labels: Dockerfile, Modules

#3483 web: syntax issue in drag.and.drop.upload.php
  web/drag.and.drop.upload.php
Labels: Website

#3494 Fix #2970: Update scripts/README.md to reflect current file list
  scripts/README.md
Labels: Documentation, Scripts

#3492 met.process: ensure host arg is passed on as a list
  docker/depends/pecan_package_dependencies.csv
  modules/data.atmosphere/DESCRIPTION
  modules/data.atmosphere/R/met.process.R
  modules/data.land/R/ic_process.R
  modules/data.land/R/soil_process.R
Labels: Dockerfile, Modules

#3476 Fix: feedback in web(#823)
  book_source/02_demos_tutorials_workflows/05_developer_workflows/02_git/02_Github-issues.Rmd
  docker/docs/index.html
  documentation/index_vm.html
  documentation/tutorials/02_Demo_Uncertainty_Analysis/Demo02.Rmd
  web/08-finished.php
  web/checkfailed.php
  web/common.php
  web/setups/page.template.php
Labels: Dockerfile, Documentation, Website

#3500 Fix `Deprecated: htmlspecialchars()` for null warning
  web/08-finished.php
Labels: Website

#3482 Deploy Pkgdown Documentation to Separate Repository
  .github/workflows/pkgdown.yml
  CHANGELOG.md
  Makefile
  docker/docs/Dockerfile
  docker/docs/index.html
  scripts/build_pkgdown.R
Labels: Dockerfile, GitHub Actions, Scripts
