Repository PecanProject/pecan, pull requests merged in 2025-05, with the labels that each got.

#3519 fix sipnet tests
  .github/workflows/docker-stack-sipnet.yml
  tests/docker-ghaction.sipnet.xml
Labels: Tests, GitHub Actions

#3511 Add a new state variable of soil water (in cm) to enable the direct assimilation of volumetric soil moisture
  models/sipnet/R/read_restart.SIPNET.R
  models/sipnet/R/write.configs.SIPNET.R
  models/sipnet/R/write_restart.SIPNET.R
  modules/assim.sequential/R/sda.enkf_MultiSite.R
  modules/assim.sequential/inst/MultiSite-Exs/SDA/Create_Multi_settings.R
  modules/data.remote/R/SMAP_SMP_prep.R
  modules/rtm/man/invert.auto.Rd
Labels: Modules, Models

#3522 correct UID:GID format for chown in data container
  DEV-INTRO.md
Labels: Documentation

#3523 Fix incorrect list structure in Individuals caused by named values
  models/lpjguess/R/adjust.biomass.LPJGUESS.R
  models/lpjguess/R/adjust.density.LPJGUESS.R
Labels: Models

#3524 merge develop into 1.9.0
  DEV-INTRO.md
  models/lpjguess/R/adjust.biomass.LPJGUESS.R
  models/lpjguess/R/adjust.density.LPJGUESS.R
  models/sipnet/R/read_restart.SIPNET.R
  models/sipnet/R/write.configs.SIPNET.R
  models/sipnet/R/write_restart.SIPNET.R
  modules/assim.sequential/R/sda.enkf_MultiSite.R
  modules/assim.sequential/inst/MultiSite-Exs/SDA/Create_Multi_settings.R
  modules/data.remote/R/SMAP_SMP_prep.R
  modules/rtm/man/invert.auto.Rd
Labels: Modules, Models, Documentation

#3527 fix docker builds + rstudio
  CHANGELOG.md
  apps/api/Dockerfile
  docker-compose.yml
  models/ed/Dockerfile
  models/maespa/.Rbuildignore
  models/maespa/Dockerfile
  models/maespa/namelist.patch
Labels: Models

#3406 Add codes to extract SoilGrids soil texture data and derive ensemble …
  docker/depends/pecan_package_dependencies.csv
  models/sipnet/R/write.configs.SIPNET.R
  modules/assim.sequential/R/metSplit.R
  modules/assim.sequential/R/sda.enkf_MultiSite.R
  modules/assim.sequential/inst/MultiSite-Exs/SDA/Create_Multi_settings.R
  modules/data.land/DESCRIPTION
  modules/data.land/NAMESPACE
  modules/data.land/R/extract_soil_nc.R
  modules/data.land/R/soil_params_ensemble.R
  modules/data.land/R/soil_utils.R
  modules/data.land/R/soilgrids_texture_extract.R
  modules/data.land/man/estimate_dirichlet_parameters.Rd
  modules/data.land/man/soil_params_ensemble_soilgrids.Rd
  modules/data.land/man/soilgrids_texture_extraction.Rd
  modules/data.remote/R/extract_phenology_MODIS.R
  modules/uncertainty/R/ensemble.R
  modules/uncertainty/man/write.ensemble.configs.Rd
Labels: Dockerfile, Modules, Models

#3530 Data.land CI fixes
  modules/data.land/NAMESPACE
  modules/data.land/R/soil_params_ensemble.R
  modules/data.land/man/estimate_dirichlet_parameters.Rd
  modules/data.land/man/soil_params_ensemble_soilgrids.Rd
  modules/data.land/tests/Rcheck_reference.log
Labels: Tests, Modules

#3498 Fix input sampling validation and SIPNET IC handling
  docker/depends/pecan_package_dependencies.csv
  models/sipnet/R/write.configs.SIPNET.R
  modules/uncertainty/DESCRIPTION
  modules/uncertainty/R/ensemble.R
  modules/uncertainty/tests/testthat/test_ensemble.R
Labels: Dockerfile, Tests, Modules, Base, Models, Documentation, GitHub Actions, Website, Scripts

#3517 Python Irrigation files
  modules/data.remote/inst/Python/CCMMF_Irrigation_API.py
  modules/data.remote/inst/Python/CCMMF_Irrigation_CalcVis.py
  modules/data.remote/inst/Python/CCMMF_Irrigation_DataDownload.py
  modules/data.remote/inst/Python/CCMMF_Irrigation_Events.py
  modules/data.remote/inst/Python/CCMMF_Irrigation_GEE.py
  modules/data.remote/inst/Python/CCMMF_Irrigation_GEEvAPI.py
  modules/data.remote/inst/Python/README.txt
  modules/data.remote/inst/Python/__pycache__/CCMMF_Irrigation_CalcVis.cpython-312.pyc
  modules/data.remote/inst/Python/__pycache__/CCMMF_Irrigation_DataDownload.cpython-312.pyc
  modules/data.remote/inst/Python/__pycache__/CCMMF_Irrigation_Events.cpython-312.pyc
Labels: Modules

#3533 LPJ-GUESS restart support: new write_restart, read_restart tweaks & CRU driver hooks
  models/lpjguess/NAMESPACE
  models/lpjguess/R/read_restart.LPJGUESS.R
  models/lpjguess/R/read_state.R
  models/lpjguess/R/split_inputs.LPJGUESS.R
  models/lpjguess/R/write.config.LPJGUESS.R
  models/lpjguess/R/write_restart.LPJGUESS.R
  models/lpjguess/R/write_state.R
  models/lpjguess/inst/pecan.ins
  models/lpjguess/inst/template.ins
  models/lpjguess/man/extract_from_state_by_key.Rd
  models/lpjguess/man/find_stream_size.Rd
  models/lpjguess/man/find_stream_type.Rd
  models/lpjguess/man/find_stream_var.Rd
  models/lpjguess/man/read_binary_LPJGUESS.Rd
  models/lpjguess/man/read_restart.LPJGUESS.Rd
  models/lpjguess/man/serialize_starts_ends.Rd
  models/lpjguess/man/write_binary_LPJGUESS.Rd
  models/lpjguess/man/write_restart.LPJGUESS.Rd
Labels: Modules, Models
